<div style="padding: 10px">
  <b>Educator permissions: </b>
  <%= link_to 'Overview', admin_authorization_url, {
    class: 'prominent-link'
  } %>  
  <%= link_to 'Adjust', admin_root_url, {
    class: 'prominent-link'
  } %>
</div>
