<!DOCTYPE html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% @data.each do |school_hash| %>
      <h2><%= school_hash[:name] %></h2>
      <h3>Absences:</h3>
      <table width="100%">
        <tr>
          <th>Last week</th>
          <th>Total</th>
          <th>Student</th>
        </tr>
        <% school_hash[:absences].each do |absences| %>
          <tr>
            <td><%= absences[0] %></td>
            <td><%= absences[1] %></td>
            <td><%= link_to absences[2], student_url(absences[3]) %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </body>
</html>
