<div class="static-rails-page info-area">
  <h4 class="static-rails-page-title">Your browser isn't supported.</h4>

  <p>Student Insights supports the latest version of the following browsers:</p>
  <div>
    <ul class="static-rails-page-supported-browsers-list">
      <li><a href="https://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a></li>
      <li><a href="https://www.google.com/chrome/">Google Chrome</a></li>
      <li><a href="https://www.apple.com/safari/">Apple Safari</a></li>
      <li><a href="https://www.microsoft.com/en-us/windows/microsoft-edge">Microsoft Edge</a></li>
      <li><a href="https://support.microsoft.com/en-us/help/17621/internet-explorer-downloads">Microsoft Internet Explorer 11</a></li>
    </ul>
  <div>

  <p>If you need help with the upgrade, please reach out to district IT staff.</p>
</div>
