btn {
	background: #33A4EB;
	border-radius: 1px;
	font-family: OpenSans-Semibold;
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 0px;
} 

<button type="button" class="btn btn-primary">{{ buttonPrimaryContent }}</button>