{
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "moment": true,
    "$": true,
    "React": true,
    "describe": true,
    "beforeEach": true,
    "afterEach": true,
    "jasmine": true,
    "expect": true,
    "it": true,
    "d3": true,
    "Highcharts": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": ["react"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-restricted-properties": [2, {
      "object": "Object",
      "property": "assign",
      "message": "Not supported by IE 11, try _.clone."
    }],
    "no-var": 2,
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "comma-dangle": ["error", "only-multiline"],
    "no-unused-vars": ["error", {
      "args": "none"
    }],
    "no-use-before-define": "off",
    "eol-last": "off",
    "react/prefer-stateless-function": "off",
    "react/prefer-es6-class": "off",
    "react/sort-comp": ["error", {
      order: [
        'static-methods',
        'mixins',
        'lifecycle',
        'everything-else',
        '/^on.+$/',
        'rendering'
      ],
      groups: {
        rendering: [
          'render',
          '/^render.+$/'
        ]
      }
    }]
  }
}
