{
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "_": true,
    "moment": true,
    "$": true,
    "React": true,
    "describe": true,
    "beforeEach": true,
    "afterEach": true,
    "jasmine": true,
    "expect": true,
    "it": true,
    "d3": true,
    "Highcharts": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": ["react"],
  "extends": [
    "airbnb"
  ],
  "rules": {
    // Incrementally consider, enable, and align to these rules:
    "jsx-a11y/href-no-hash": 0,
    "func-names": 0,
    "prefer-rest-params": 0,
    "import/extensions": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "max-len": 0,
    "no-shadow": 0,
    "no-plusplus": 0,
    "camelcase": 0,
    "consistent-return": 0,
    "no-throw-literal": 0,
    "no-nested-ternary": 0,
    "react/jsx-no-bind": 0,
    "no-unused-expressions": 0,
    "react/forbid-prop-types": 0,
    "no-unused-vars": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "no-param-reassign": 0,
    "react/no-string-refs": 0,
    "no-multi-assign": 0,
    "no-underscore-dangle": 0,
    "react/no-array-index-key": 0,
    "react/no-unescaped-entities": 0,
    "vars-on-top": 0,
    "no-var": 0,
    "block-scoped-var": 0,
    "no-return-assign": 0,
    "react/no-danger": 0,
    "array-callback-return": 0,
    "default-case": 0,
    "no-prototype-builtins": 0,
    "react/prop-types": 0,
    "no-mixed-operators": 0,
    "import/no-extraneous-dependencies": 0,
    "radix": 0,
    "import/first": 0,
    "jsx-a11y/label-has-for": 0,
    "no-confusing-arrow": 0,
    "no-sequences": 0,

    // Enabling this rule broke parens parsing in certain situations:
    "comma-dangle": 0,

    "no-restricted-properties": [2, {
      "object": "Object",
      "property": "assign",
      "message": "Not supported by IE 11, try _.clone."
    }]
  }
}
