{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "$": true,
    "moment": true,
    "spyOn": true,
    "global": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": ["react"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-var": 2,
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "comma-dangle": ["error", "only-multiline"],
    "no-unused-vars": ["error", {
      "args": "none"
    }],
    "no-use-before-define": "off",
    "eol-last": "off",
    "react/prefer-stateless-function": "off",
    "react/prefer-es6-class": "off",
    "react/sort-comp": ["error", {
      order: [
        'static-methods',
        'mixins',
        'lifecycle',
        'everything-else',
        '/^on.+$/',
        'rendering'
      ],
      groups: {
        rendering: [
          'render',
          '/^render.+$/'
        ]
      }
    }]
  }
}
