.DS_Store
**.orig
/log
/tmp

# Artificact of running simplecov analysis task
coverage

# Node.js dependencies and logs
node_modules
yarn-debug.log*
yarn-error.log*

# In past development setups, this file was used to holds configuration for
# testing production import scripts by running them locally and connecting to
# production services.  Developers should avoid working directly with production
# credentials, and should use a Heroku dyno rather than connecting to other
# production services directly when possible.
# This is kept here defensively in case this file exists and contains any
# secrets.
config/local_env.yml

# Use env initializers and read ENV variables instead, no good
# comes from storing secrets on disk (this was deprecated
# in Rails 5.2, but keep in here preventatively anyway).
config/secrets.yml

# See README for recommended Ruby and development environment setup
# (eg, .ruby-version etc. should be checked into source).
# Editor configuration (Sublime is the only supported setup)
studentinsights.sublime-workspace

# Build artifacts from `yarn build`
public/build
public/dev

# Artificat from running qgsocksify.  Defensive against ever checking this in,
# in case it contains any secrets.
socks.conf

# Specifically for gh-pages and jekyll
_site/
.sass-cache/
.jekyll-metadata


# Exclude all potential data files, unless explicitly safelisted.
# This is a defense against accidentally saving production data files
# into the project folder.  Developers should avoid working with production
# data whenever possible, and avoid ever putting production data in the 
# project folder, but this is another layer of defense.
*.json
!./app.json
!./jest.json
!./package.json
!./spec/importers/helpers/data_flows_for_other_importers.json
!./spec/importers/file_importers/data_flows_fixture.json

*.csv
!spec/**/*.csv

*.txt
!./QUOTAGUARD-LICENSE.txt
!./public/robots.txt
!./spec/fixtures/*.txt

*.sql
!./x2_export/sql/*.sql

*.xml
!./public/browserconfig.xml
!./x2_export/xml/*.sql

*.zip
!./spec/importers/iep_import/iep-pdfs-for-test-1.zip
!./spec/importers/iep_import/iep-pdfs-for-test-2.zip

# The /data folder is not currently used, but was previously used for local
# analysis of production data, so defensively ignore anything there as well.
/data
