.DS_Store
**.orig
/log
/tmp
/sketch
/data
coverage

config/local_env.yml
config/database.yml

## Environment normalisation:
/.bundle
# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc
