language: ruby
rvm:
  - ruby-2.3.0

sudo: required

services:
  - postgres

branches:
  only:
    - master

cache: yarn

before_install:
  - export TZ=America/New_York

install:
  - bundle install --retry=3
  - yarn install

script:
  - yarn test-cli
  - rubocop
  - bundle exec rake db:create db:migrate DATABASE_URL=postgres://localhost/student_insights_test
  - bundle exec rspec spec
