language: ruby
rvm:
  - ruby-2.2.3

sudo: required

services:
  - postgres

branches:
  only:
    - master

# For AWS deploy, install the AWS CLI, so we can push asset artifacts up to S3 when merging to master.
# before_install:
#   - pip install --user awscli
#   - export PATH=$PATH:$HOME/.local/bin

before_install: gem install -v 1.10.6 bundler --no-rdoc --no-ri

install:
 - bundle _1.10.6_ install --retry=3

script:
  - bundle exec rake db:create db:migrate DATABASE_URL=postgres://localhost/student_insights_test
  - bundle exec rspec spec
  - bundle exec teaspoon
  # For AWS deploy, add step here:
  # - aws/rails/build_from_travis.sh

env:
  global:
    # For AWS deploy, add in credentials for uploading to S3 and pushing to Docker Hub here:
    - secure: CVsj/OoauR/2rTan1fAriyW/b92DahJsQ3zh7MAHAeQZ3atRQq4cYxd6fRSO4zoAOeTTTHp4hQ3YX+Uo765bNXsUJLKiKT8Wnin+eOG8nMGxzmKM6oxuWIt552pbwvhuX3+GS8QDT1sbHAdedlDng/97BhXeZTuzgVXN6Zigdo8=
    - secure: jSWLU8N9ui5BZ7PmWmY08BrrOx1BN1IEdYhrTnv5RDWMbUyGTu62hyXOseKMy1b+URaWSiklkxLBK0uVm1oSYf/MYiDhNwFTqPn8eH7AK7MJcxSOaJ4ce0eCEeTy56Wnbljjt0jYeGMFS05uBGhUT82vYvXq4l4h7pCORJWXaPA=

notifications:
  webhooks: http://project-monitor.codeforamerica.org/projects/somerville-teacher-tool/status
