dist: xenial
language: ruby

rvm:
  - ruby-2.6.5

sudo: required

cache:
  directories:
  - $HOME/.cache/yarn # yarn
  - node_modules # yarn

# Use a more recent version of Postgres that supports full text search
# (eg, see search_notes_queries.rb).  If not, Travis defaults to an
# older version that doesn't support this.  Requires `env` to be set above as well.
# See https://docs.travis-ci.com/user/database-setup/#using-a-different-postgresql-version
addons:
  postgresql: "11"
  apt:
    packages:
    - postgresql-11
    - postgresql-client-11

env:
  # for install specific Postgres version, see `addons` below
  global:
  - PGPORT=5433

  # for parallelizing tests across VMS, see https://docs.travis-ci.com/user/speeding-up-the-build/
  matrix:
  - TRAVIS_TEST_SUITE=js
  - TRAVIS_TEST_SUITE=ruby

branches:
  only:
    - master

before_install:
  - if [[ $TRAVIS_TEST_SUITE == "js" ]]; then export TZ=UTC; fi
  # see https://github.com/travis-ci/travis-ci/issues/7471#issuecomment-288832948
  - if [[ $TRAVIS_TEST_SUITE == "js" ]]; then curl -o- -L https://yarnpkg.com/install.sh | bash; fi
  - if [[ $TRAVIS_TEST_SUITE == "js" ]]; then export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"; fi
  # libsodium binary, from Heroku-16 stack (https://github.com/heroku/stack-images/blob/master/heroku-16/bin/heroku-16.sh#L7)
  # Even though we run Heroku-18 in production, our Travis setup is still running Ubuntu 16
  - if [[ $TRAVIS_TEST_SUITE == "ruby" ]]; then echo "deb http://archive.ubuntu.com/ubuntu/ xenial main universe" | sudo tee -a /etc/apt/sources.list; fi
  - if [[ $TRAVIS_TEST_SUITE == "ruby" ]]; then echo "deb http://archive.ubuntu.com/ubuntu/ xenial-security main universe" | sudo tee -a /etc/apt/sources.list; fi
  - if [[ $TRAVIS_TEST_SUITE == "ruby" ]]; then echo "deb http://archive.ubuntu.com/ubuntu/ xenial-updates main universe" | sudo tee -a /etc/apt/sources.list; fi
  - if [[ $TRAVIS_TEST_SUITE == "ruby" ]]; then sudo apt-get update; fi
  - if [[ $TRAVIS_TEST_SUITE == "ruby" ]]; then sudo apt-get install -y libsodium18; fi
  # Match Heroku RubyGems version (eg https://devcenter.heroku.com/changelog-items/1569)
  - if [[ $TRAVIS_TEST_SUITE == "ruby" ]]; then gem update --system; fi
  - if [[ $TRAVIS_TEST_SUITE == "ruby" ]]; then gem --version; fi
  # Working around Travis errors, from https://docs.travis-ci.com/user/languages/ruby/#bundler-20
  - if [[ $TRAVIS_TEST_SUITE == "ruby" ]]; then gem install bundler; fi

install:
  - if [[ $TRAVIS_TEST_SUITE == "ruby" ]]; then bundle install --retry=3; fi
  - if [[ $TRAVIS_TEST_SUITE == "js" ]]; then . $HOME/.nvm/nvm.sh; fi
  - if [[ $TRAVIS_TEST_SUITE == "js" ]]; then nvm install --lts; fi
  - if [[ $TRAVIS_TEST_SUITE == "js" ]]; then nvm use --lts; fi
  - if [[ $TRAVIS_TEST_SUITE == "js" ]]; then yarn lockfile-lint; fi
  - if [[ $TRAVIS_TEST_SUITE == "js" ]]; then yarn install; fi

script:
  # dependency audits
  - if [[ $TRAVIS_TEST_SUITE == "ruby" ]]; then bundle exec ruby-audit check; fi
  - if [[ $TRAVIS_TEST_SUITE == "ruby" ]]; then bundle audit check --update; fi
  - if [[ $TRAVIS_TEST_SUITE == "ruby" ]]; then bundle exec rails_best_practices -c config/rails_best_practices.yml; fi
  
  # This DATABASE_URL assumes '' for the host is set in database.yml,
  # which is needed in Travis when using a specific version of Postgres
  # that's different than the default.
  - if [[ $TRAVIS_TEST_SUITE == "ruby" ]]; then bundle exec rake db:create db:migrate db:test:prepare DATABASE_URL=postgres:///student_insights_test; fi
  - if [[ $TRAVIS_TEST_SUITE == "ruby" ]]; then bundle exec rake immigrant:check_keys; fi
  - if [[ $TRAVIS_TEST_SUITE == "ruby" ]]; then bin/rails zeitwerk:check; fi
  - if [[ $TRAVIS_TEST_SUITE == "ruby" ]]; then rubocop; fi
  - if [[ $TRAVIS_TEST_SUITE == "ruby" ]]; then bundle exec brakeman --run-all-checks --exit-on-warn --ensure-latest; fi
  - if [[ $TRAVIS_TEST_SUITE == "ruby" ]]; then ENABLE_RSPEC_COVERAGE_CHECKER=true bundle exec rspec spec; fi
  - if [[ $TRAVIS_TEST_SUITE == "js" ]]; then ./scripts/ci/detect_package_lock.sh; fi
  - if [[ $TRAVIS_TEST_SUITE == "js" ]]; then yarn test-cli; fi
