@import '../../stylesheets/variables';

.FixedTable {
  table {
    table-layout: fixed;
    border-collapse: collapse;

    td {
      padding: 0;
    }

    tr.clickable-row:hover {
      outline: 1px solid lighten($gray, 40%);

      a:hover {
        color: $gray;
      }
    }
  }

  .bar {
    background-color: rgba(49, 119, 201, 0.75);
  }
}