@import '../../stylesheets/variables';

.HelpBubble {
  font-size: 14px;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  background-color: #3177AF;
  cursor: pointer;

  &:hover {
    background-color: darken($blue, 20%);
  }
}
