@import '../../stylesheets/variables';

.StudentsTable {
  table.students-table {
    border-collapse: collapse;

    thead th {
      font-size: 12px;
      border-bottom: 1px solid #ccc;
    }

    tr:hover {
      background-color: $table-row-hover;
    }

    th, td {
      padding: 4px 10px;
      text-align: left;
    }
  }
}