header, footer, section, article, aside, nav {
  display: block; }

body.cs-body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  background: #eee; }
  body.cs-body.is-loading {
    overflow: hidden; }

.cs-button {
  font-family: "Open Sans", Sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  border: 0;
  padding: 6px 12px;
  margin: 0;
  display: inline-block;
  background: #EE4054;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  -webkit-font-smoothing: antialiased; }
  .cs-button:hover, .cs-button:focus {
    background: #F37987;
    outline: 0; }
  .cs-button:active {
    background: #A62C3A;
    outline: 0; }

.cs-button-html {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  float: right; }

.cs-table-wrap {
  overflow: auto; }

.cs-link, .cs-table a, .cs-fts-nav a, .cs-template-list__item a {
  font-family: "Open Sans", Sans-serif;
  color: #767676;
  text-decoration: none;
  border-bottom: 1px solid #eee; }
  .cs-link:hover, .cs-table a:hover, .cs-fts-nav a:hover, .cs-template-list__item a:hover, .cs-link:focus, .cs-table a:focus, .cs-fts-nav a:focus, .cs-template-list__item a:focus {
    text-decoration: none;
    color: #363E40;
    border-bottom-color: #C3BDB9; }

.cs-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  font-size: 0.875rem; }
  .cs-table td, .cs-table th {
    border: 1px solid #eee;
    padding: 10px;
    text-align: left;
    font-family: "Open Sans", Sans-serif;
    vertical-align: top; }
  .cs-table th {
    font-weight: 400;
    background: #eee;
    text-transform: uppercase;
    border-color: #fff; }

.cs-container {
  max-width: 1000px;
  margin: auto; }
  .cs-container.cs-align-normal {
    margin: 0;
    width: auto;
    max-width: none; }

.cs-col {
  float: left;
  position: relative; }

.cs-col-last {
  float: right;
  position: relative; }

.cs-gutter {
  padding: 20px; }

.cs-main > .cs-container {
  padding-left: 240px; }

@media screen and (max-width: 800px) {
  .cs-main > .cs-container {
    padding-top: 45px;
    padding-left: 0; }

  .cs-gutter {
    padding: 15px; } }
.cs-is-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.2s;
  -moz-transition: opacity ease-in-out 0.2s;
  -ms-transition: opacity ease-in-out 0.2s;
  -o-transition: opacity ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s;
  visibility: hidden; }

.cs-is-removed {
  display: none; }

.cs-is-inline {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto; }
  .cs-is-inline li {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto; }

.cs-is-clean, .cs-content-heading h1, .cs-content-heading p {
  padding: 0;
  margin: 0;
  list-style: none; }

.cs-clearfix {
  *zoom: 1; }
  .cs-clearfix:before, .cs-clearfix:after {
    content: " ";
    display: table; }
  .cs-clearfix:after {
    clear: both; }

.cs-pulse, .loader .logo {
  -webkit-animation: pulse infinite 2s ease-in-out;
  -moz-animation: pulse infinite 2s ease-in-out;
  animation: pulse infinite 2s ease-in-out; }

.cs-fadeout {
  opacity: 0 !important; }

.cs-fadein {
  opacity: 1 !important; }

.cs-is-uppercase, .cs-button, .cs-banner .cs-fts-nav, .cs-is-menu-show a, .cs-content-heading h1, .cs-color-label,
.cs-color-hex {
  text-transform: uppercase;
  letter-spacing: .03em; }

.cs-banner {
  font-size: 14px;
  font-size: 0.875rem;
  *zoom: 1;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  bottom: 0;
  overflow-y: auto;
  background: #fff;
  border-right: 1px solid #C3BDB9; }
  .cs-banner:before, .cs-banner:after {
    content: " ";
    display: table; }
  .cs-banner:after {
    clear: both; }

.cs-logo {
  display: block;
  max-width: 100%; }

@media screen and (max-width: 800px) {
  .cs-banner {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: auto;
    border: 0;
    background: none;
    bottom: auto; }
    .cs-banner .cs-gutter {
      padding: 0; }

  .cs-nav-header {
    display: table; }

  .cs-branding {
    display: table-cell;
    vertical-align: middle;
    background: #fff;
    padding-left: 10px;
    border-bottom: 1px solid #C3BDB9;
    border-right: 1px solid #C3BDB9; } }
  @media screen and (max-width: 800px) and (max-width: 800px) {
    .cs-branding {
      border-bottom: 0; } }

@media screen and (max-width: 800px) {
  .cs-logo {
    max-width: none;
    max-height: 33px;
    margin-right: 15px; } }
.cs-fts-nav {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Open Sans", Sans-serif;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #C3BDB9; }
  @media screen and (max-width: 800px) {
    .cs-fts-nav {
      font-size: 14px;
      font-size: 0.875rem;
      min-width: 200px; } }
  .cs-fts-nav li {
    line-height: 2.2em;
    position: relative;
    margin: 0; }
    .cs-fts-nav li:hover .cs-site-nav-menu {
      top: 100%;
      left: auto;
      right: -17px;
      opacity: 1; }
    .cs-fts-nav li.is-active > a {
      color: #363E40; }
      .cs-fts-nav li.is-active > a:before {
        content: "";
        display: inline-block;
        border: 6px solid transparent;
        border-left-color: #363E40;
        margin-right: -2px; }
        @media screen and (max-width: 800px) {
          .cs-fts-nav li.is-active > a:before {
            border-left-color: #fff; } }
  .cs-fts-nav a.cs-link-img {
    border: 0; }
    .cs-fts-nav a.cs-link-img:hover .cs-icon-git {
      fill: #363E40; }
    .cs-fts-nav a.cs-link-img svg {
      height: 24px;
      width: 24px;
      border: 0; }
    .cs-fts-nav a.cs-link-img .cs-icon-git {
      fill: #767676;
      -webkit-transition: all linear 0.2s;
      -moz-transition: all linear 0.2s;
      -ms-transition: all linear 0.2s;
      -o-transition: all linear 0.2s;
      transition: all linear 0.2s; }

.cs-is-menu-show {
  display: none;
  font-family: "Open Sans", Sans-serif; }
  .cs-is-menu-show li {
    margin: 0;
    padding: 0; }
  .cs-is-menu-show a {
    display: block;
    border: 1px solid #81005C;
    background: #81005C;
    text-decoration: none;
    color: #fff;
    padding: 12px 18px; }
    .cs-is-menu-show a:hover, .cs-is-menu-show a:focus {
      background: #4e0038;
      border: 1px solid #4e0038; }
    .cs-is-menu-show a:active {
      background: #363E40;
      border-color: #000; }
  .cs-is-small-screen .cs-is-menu-show {
    display: block; }

#cs-templates:target {
  opacity: 1;
  top: 100%;
  left: auto;
  right: 0; }

.cs-site-nav-menu {
  margin: 5px 0 10px;
  padding: 0;
  border-radius: 2px;
  min-width: 125px;
  text-transform: none;
  -webkit-transition: opacity ease-in-out 0.3s;
  -moz-transition: opacity ease-in-out 0.3s;
  -ms-transition: opacity ease-in-out 0.3s;
  -o-transition: opacity ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s;
  font-size: 12px;
  font-size: 0.75rem; }
  .cs-site-nav-menu li {
    line-height: 1.3;
    display: block;
    white-space: nowrap; }
    .cs-site-nav-menu li a:before {
      content: "- "; }
  .cs-site-nav-menu a {
    display: block;
    padding: 3px 6px 6px;
    border: 0; }

@media screen and (max-width: 800px) {
  .cs-fts-nav {
    position: absolute;
    top: -9999px;
    left: -9999px; }
    .cs-fts-nav a {
      color: #96908a;
      border-bottom-color: rgba(150, 144, 138, 0.3); }
      .cs-fts-nav a:hover {
        color: #C3BDB9; }
      .cs-fts-nav a.cs-link-img:hover .cs-icon-git {
        fill: #C3BDB9; }
    .cs-fts-nav li.is-active a {
      color: #fff;
      font-weight: 700; }
    .cs-fts-nav.is-open {
      position: static;
      padding: 15px;
      margin: -1px 0 0 0;
      background: #363E40; }

  .cs-is-menu-show {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    *vertical-align: auto; } }
.loader {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; }
  .loader .logo {
    margin: auto;
    display: block; }

.is-loading .loader {
  display: flex;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex; }

.cs-content-section {
  margin: auto auto 80px;
  max-width: 1200px; }
  .cs-content-section:last-child {
    margin-bottom: 0; }

.cs-content-header {
  padding: 20px 0 0 0;
  line-height: 1;
  overflow: hidden; }
  @media screen and (max-width: 800px) {
    .cs-content-header .cs-button {
      margin-bottom: 15px;
      margin-top: -5px;
      width: 100%; } }

.cs-content-anchor {
  font-weight: 700;
  font-size: 80%;
  line-height: 1.4;
  display: inline-block;
  text-transform: lowercase;
  opacity: 0;
  margin-left: 5px;
  transition: opacity linear .3s; }

.cs-content-heading:hover .cs-content-anchor {
  opacity: 1; }

.cs-content-heading {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  margin-bottom: 15px;
  max-width: 66%; }
  @media screen and (max-width: 800px) {
    .cs-content-heading {
      max-width: none; } }
  .cs-content-heading h1 {
    font-family: "Open Sans", Sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 700;
    color: #363E40;
    font-size: 14px;
    font-size: 0.875rem;
    letter-spacing: .02em;
    line-height: 1.2;
    margin-bottom: 5px; }
  .cs-content-heading p {
    font-size: 12px;
    font-size: 0.75rem;
    font-family: "Open Sans", Sans-serif;
    color: #666;
    font-weight: 400;
    line-height: 1.5; }
  .cs-content-heading a {
    color: #666; }
    .cs-content-heading a:hover, .cs-content-heading a:focus {
      text-decoration: none; }

.cs-content {
  padding: 40px;
  background: #fff;
  border-radius: 2px; }
  @media screen and (max-width: 800px) {
    .cs-content {
      padding: 20px; } }

.cs-message p {
  margin: 0;
  padding: 0;
  color: #363E40;
  font-size: 14px;
  font-size: 0.875rem; }

.cs-template-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-size: 1.125rem;
  font-family: "Open Sans", Sans-serif; }

.cs-template-list__item a {
  color: #767676;
  display: block;
  padding: 10px 0; }

.cs-color-wrap {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  width: 18%;
  overflow: hidden;
  font-family: "Open Sans", Sans-serif;
  margin: 0 1% 20px 0;
  border: 1px solid #C3BDB9;
  border-radius: 3px;
  box-sizing: border-box; }

.cs-color-label,
.cs-color-hex {
  display: block;
  font-size: 11px;
  font-size: 0.6875rem;
  padding: 0 0 10px;
  text-align: center;
  letter-spacing: .02em;
  color: #666; }

.cs-color-label {
  min-width: 100px;
  margin: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 0;
  font-weight: 700; }

.cs-color {
  height: 120px;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #C3BDB9; }

@media screen and (max-width: 1000px) {
  .cs-color-wrap {
    width: 23%; } }
@media screen and (max-width: 800px) {
  .cs-color-label {
    width: 64px; }

  .cs-color-label,
  .cs-color-hex {
    font-size: 11px;
    font-size: 0.6875rem; } }
@media screen and (max-width: 600px) {
  .cs-color-wrap {
    width: 48%; } }
.cs-view-html {
  clear: both; }
  .cs-view-html .cs-code-block {
    min-height: 0;
    max-height: none;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    appearance: none;
    white-space: pre;
    font-family: Courier, Monospace;
    display: block;
    width: 100%;
    height: 200px;
    line-height: 1.5;
    padding: 20px;
    border: 0;
    border-radius: 2px 2px 0 0;
    color: #eee;
    box-shadow: none;
    background: #424b4e;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    font-size: 0.8125rem; }
    .cs-view-html .cs-code-block:focus {
      background: #4d595c;
      outline: none; }
    .cs-view-html .cs-code-block.cs-is-hidden {
      height: 0;
      padding: 0;
      position: static; }
  .lt-ie10 .cs-view-html {
    display: none; }

.cs-footer {
  display: none !important;
  font-size: 14px;
  font-size: 0.875rem;
  *zoom: 1; }
  .cs-footer:before, .cs-footer:after {
    content: " ";
    display: table; }
  .cs-footer:after {
    clear: both; }
  .is-loading .cs-footer {
    display: none; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.9); }
  50% {
    -webkit-transform: scale(1); }
  100% {
    -webkit-transform: scale(0.9); } }
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0.9); }
  50% {
    -moz-transform: scale(1); }
  100% {
    -moz-transform: scale(0.9); } }
@keyframes pulse {
  0% {
    transform: scale(0.9); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0.9); } }
.cs-msg {
  background: #767676;
  padding: 10px;
  text-align: center; }
  .cs-msg p {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Sans-serif;
    color: #fff;
    font-size: 14px;
    font-size: 0.875rem; }
    .cs-msg p + p {
      margin-top: 10px; }
  .cs-msg a {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-decoration: none; }
    .cs-msg a:hover, .cs-msg a:focus {
      border-bottom-color: #fff; }

/*# sourceMappingURL=corkscrew.css.map */
