                      <td class="mcas">
                        <%= mcas_presenter.math_performance %>
                      </td>
                      <td class="mcas">
                        <%= mcas_presenter.math_growth %>
                      </td>
                      <td class="mcas">
                        <%= mcas_presenter.ela_performance %>
                      </td>
                      <td class="mcas">
                        <%= mcas_presenter.ela_growth %>
                      </td>
