                      <td class="star">
                        <%= star_presenter.math_percentile_rank %>
                      </td>
                      <td class="star">
                        <%= star_presenter.reading_percentile_rank %>
                      </td>
                      <td class="star">
                        <%= star_presenter.instructional_reading_level %>
                      </td>
