  <div id="controls">
    <div id="homeroom-dropdown" class="dropdown">
      <p>Homeroom:</p>
      <select id="homeroom-select">
        <% @homerooms_by_name.each do |r| %>
          <option <% if r == @homeroom %>selected<% end %> value="<%= r.slug %>">
            <%= r.name %>
          </option>
        <% end %>
      </select>
    </div>
    <div id="roster-tooltip" class="tooltip-trigger">
      <p>Help</p>
      <span id="roster-help-icon">?</span>
    </div>
    <div id="column-group-dropdown" class="dropdown">
      <select id="column-group-select" class="chosen-select" data-placeholder="Choose information to show..." tabindex="4" multiple>
        <option value="name" selected>Name</option>
        <option value="risk" selected>Risk Level</option>
        <option value="program">Program</option>
        <option value="language">Language</option>
        <option value="free-reduced">Free/Reduced Lunch</option>
        <option value="sped">SPED & Disability</option>
        <option value="star" selected>STAR</option>
        <option value="mcas" selected>MCAS</option>
        <option value="attendance">Attendance</option>
        <option value="discipline">Discipline</option>
      </select>
    </div>
  </div>
  <div class="info-area">
    <table id="roster-table" border="0" cellspacing="0" cellpadding="10" class="sort-default">
      <thead>
        <tr class="column-groups">
          <!-- TOP-LEVEL COLUMN GROUPS -->
          <!-- i.e. "MCAS", "STAR" -->
          <td colspan="1" class="name"></td>
          <td colspan="1" class="risk"><p class="smalltype">Risk Level</p></td>
          <td colspan="1" class="program"><p class="smalltype">Program</p></td>
          <td colspan="4" class="sped"><p class="smalltype">SPED & Disability</p></td>
          <td colspan="2" class="language"><p class="smalltype">Language</p></td>
          <td colspan="1" class="free-reduced"><p class="smalltype">Free/Reduced Lunch</p></td>
          <td colspan="3" class="star"><p class="smalltype">STAR</p></td>
          <td colspan="4" class="mcas"><p class="smalltype">MCAS</p></td>
          <td colspan="2" class="attendance"><p class="smalltype">Attendance</p></td>
          <td colspan="1" class="discipline"><p class="smalltype">Discipline</p></td>
        </tr>
        <tr class="column-groups">
          <!-- SUB-GROUPS -->
          <!-- i.e. "MCAS Math", "STAR Reading" -->
          <td colspan="1" class="name"></td>
          <td colspan="1" class="risk"></td> <!-- Blank column space for nested labels -->
          <td colspan="1" class="program"></td> <!-- Blank column space for nested labels -->
          <td colspan="4" class="sped"></td> <!-- Blank column space for nested labels -->
          <td colspan="2" class="language"></td> <!-- Blank column space for nested labels -->
          <td colspan="1" class="free-reduced"></td> <!-- Blank column space for nested labels -->
          <td colspan="1" class="star"><p class="smalltype italic">Math</p></td>
          <td colspan="2" class="star"><p class="smalltype italic">Reading</p></td>
          <td colspan="2" class="mcas"><p class="smalltype italic">Math</p></td>
          <td colspan="2" class="mcas"><p class="smalltype italic">English</p></td>
          <td colspan="1" class="attendance"></td>
          <td colspan="1" class="attendance"></td>
          <td colspan="1" class="discipline"></td>
        </tr>
        <tr class="column-names">
          <!-- COLUMN HEADERS -->
          <!-- i.e. "MCAS Math Growth", "STAR Reading Performance" -->
          <th class="name"><span id="table-header">Name</span></th>
          <th class="risk sort-default" data-sort-method="risk_sort"><span id="table-header">Risk</span></th>
          <th class="program"><span id="table-header">Program Assigned</span></th>
          <th class="sped"><span id="table-header">Placement</span></th>
          <th class="sped"><span id="table-header">Disability</span></th>
          <th class="sped"><span id="table-header">Level of Need</span></th>
          <th class="sped"><span id="table-header">504 Plan</span></th>
          <th class="language"><span id="table-header">Fluency</span></th>
          <th class="language"><span id="table-header">Home Language</span></th>
          <th class="free-reduced"><span id="table-header">Free/Reduced Lunch</span></th>
          <th class="star" data-sort-method="number"><span id="table-header">Percentile</span></th>
          <th class="star" data-sort-method="number"><span id="table-header">Percentile</span></th>
          <th class="star" data-sort-method="number"><span id="table-header">IRL</span></th>
          <th class="mcas" data-sort-method="mcas_sort"><span id="table-header">Performance</span></th>
          <th class="mcas" data-sort-method="number"><span id="table-header">Growth</span></th>
          <th class="mcas" data-sort-method="mcas_sort"><span id="table-header">Performance</span></th>
          <th class="mcas" data-sort-method="number"><span id="table-header">Growth</span></th>
          <th class="attendance"><span id="table-header">Absences</span></th>
          <th class="attendance"><span id="table-header">Tardies</span></th>
          <th class="discipline"><span id="table-header">Behavior Incidents</span></th>
        </tr>
     </thead>
      <% if @students.present? %>
        <!-- ROWS -->
        <% @students.find_each do |student| %>
          <%= render "students/student_row", student: student, presenter: StudentPresenter.new(student), risk: StudentRiskLevel.new(student) %>
        <% end %>
      <% end %>
    </table>
  </div>
  <script id="roster-tooltip-template" type="x-tmpl-mustache">
    <div class="tooltip-popup">
      <div class="warning-header">
        <div class="warning-dot"></div>
        <h6>Warning Indicators</h6>
      </div>
      <div class="warning-set">
        <p><strong>MCAS Performance:</strong> Warning</p>
        <p><strong>MCAS Growth:</strong> Less than 40 points</p>
        <p><strong>STAR Percentile:</strong> Less than 40 points</p>
        <p><strong>STAR Reading IRL:</strong> A year or more behind</p>
      </div>
    </div>
  </script>
