  <div id="controls">
    <div id="homeroom-dropdown" class="dropdown">
      <p>Homeroom:</p>
      <select id="homeroom-select">
        <% @homerooms_by_name.each do |r| %>
          <option <% if r == @homeroom %>selected<% end %> value="<%= r.slug %>">
            <%= r.name %>
          </option>
        <% end %>
      </select>
    </div>
    <div id="my-tooltip">
      <div class="tooltip-circle"><p>?</p></div>
    </div>
    <div id="column-group-dropdown" class="dropdown">
      <select id="column-group-select" class="chosen-select" data-placeholder="Choose information to show..." tabindex="4" multiple>
        <option value="star" selected>STAR</option>
        <option value="mcas" selected>MCAS</option>
        <option value="demographics">Demographics</option>
        <option value="name" selected>Name</option>
        <option value="attendance">Attendance</option>
        <option value="discipline">Discipline</option>
      </select>
    </div>

  </div>
  <div class="info-area">
    <table id="roster-table" border="0" cellspacing="0" cellpadding="10" class="sort-default">
      <thead>
        <tr class="column-groups">
          <td colspan="1" class="name"></td>
          <td colspan="1" class="demographics"><p class="smalltype">Demographics</p></td>
          <td colspan="3" class="star"><p class="smalltype">STAR</p></td>
          <td colspan="4" class="mcas"><p class="smalltype">MCAS</p></td>
          <td colspan="2" class="attendance"><p class="smalltype">Attendance</p></td>
          <td colspan="1" class="discipline"><p class="smalltype">Discpline</p></td>
        </tr>
        <tr class="column-groups">
          <td colspan="1" class="name"></td>
          <td colspan="1" class="demographics"></td> <!-- Blank column space for nested labels -->
          <td colspan="1" class="star"><p class="smalltype italic">Math</p></td>
          <td colspan="2" class="star"><p class="smalltype italic">Reading</p></td>
          <td colspan="2" class="mcas"><p class="smalltype italic">Math</p></td>
          <td colspan="2" class="mcas"><p class="smalltype italic">English</p></td>
          <td colspan="1" class="attendance">
            <input type="number" value="5" min="0" id="absence-level" class="warning-level advanced-control hidden"/>
          </td>
          <td colspan="1" class="attendance">
            <input type="number" value="5" min="0" id="tardy-level" class="warning-level advanced-control hidden"/>
          </td>
          <td colspan="1" class="discipline">
            <input type="number" value="3" min="0" id="discipline-level" class="warning-level advanced-control hidden"/>
          </td>
        </tr>
        <tr class="column-names">
          <th class="name sort-default"><span id="table-header">Name</span></th>
          <th class="demographics"><span id="table-header">Home Language</span></th>
          <th class="star" data-sort-method="number"><span id="table-header">Percentile</span></th>
          <th class="star" data-sort-method="number"><span id="table-header">Percentile</span></th>
          <th class="star" data-sort-method="number"><span id="table-header">IRL</span></th>
          <th class="mcas" data-sort-method="mcas_sort"><span id="table-header">Performance</span></th>
          <th class="mcas" data-sort-method="number"><span id="table-header">Growth</span></th>
          <th class="mcas" data-sort-method="mcas_sort"><span id="table-header">Performance</span></th>
          <th class="mcas" data-sort-method="number"><span id="table-header">Growth</span></th>
          <th class="attendance"><span id="table-header">Absences</span></th>
          <th class="attendance"><span id="table-header">Tardies</span></th>
          <th class="discipline"><span id="table-header">Office Referrals</span></th>

        </tr>
     </thead>
      <% if @students.present? %>
        <% @students.find_each do |student| %>
          <%= render "students/student_row", presenter: StudentPresenter.new(student) %>
        <% end %>
      <% end %>
    </table>
  </div>
