  <div id="controls">
    <div id="homeroom-dropdown" class="dropdown">
        <p>Homeroom:</p>
          <select id="homeroom-select">
            <% @homerooms_by_name.each do |r| %>
              <option <% if r == @homeroom %>selected<% end %>><%= r.name %></option>
            <% end %>
          </select> 
        <div class="overlay-arrow">&#9660;</div>
      </div>
    </div>
  <div class="info-area">
    <table border="0" cellspacing="0" cellpadding="10">
      <tr class="column-groups">
        <td></td>
        <td colspan="3"><p class="smalltype">Demographics</p></td>
        <td colspan="2"><p class="smalltype">Math</p></td>
        <td colspan="2"><p class="smalltype">English</p></td>
      </tr>
      <tr class="column-names">
        <td>Name</td>
        <td>Race</td>
        <td>SPED</td>
        <td>LEP</td>
        <td>Growth</td>
        <td>Level</td>
        <td>Growth</td>
        <td>Level</td>
      </tr>
      <% @risk_categories.each do |category| %>
        <% if @students.present? %>
          <% students = @sorted_students[category]  %>
          <% if students.present? %>
            <tr class="risk-groups">
              <td colspan="8" class="smalltype">
                <%= category %> Risk
              </td>
            </tr>
            <% students.each do |student| %>
              <%= render "students/student_row", presenter: StudentPresenter.new(student) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </table>
  </div>