	<div id="controls">
		<div id="roster-back">
			<a href="http://localhost:3000/">&#60; Back to Roster</a>
		</div>
	</div>

	<div class="info-area">

  	<div id="student-info">
		<h1><%= @presenter.full_name %></h1>
		<p>Home Phone: <strong>(617) 938-3948</strong></p>
	</div>

	<div id="graph-dropdown" class="dropdown">
		<p>Graph:</p>
		<select id="chart-type">
	    	<option value="attendance">Attendance</option>  
	    	<option value="behavior">Behavior</option>
	    	<option value="mcas-growth">MCAS Growth</option>
	    	<option value="star-percentile">STAR Percentile</option>
		</select>
	</div>

  	<div id="chart"></div>

    <div class="school-year">

    	<div class="year">
    		<h1>2014 - 2015</h1>
    	</div>

    	<div class="section">
    		<h2 class="attendance-type">Attendance</h2>
    		<div class="values">
    			<h3>8</h3>
    			<h4>Absences</h4>
    		</div>
    		<div class="values">
    			<h3>24</h3>
    			<h4>Tardies</h4>
    		</div>
    	</div>

		<div class="section">
			<h2>MCAS</h2>
	    	<div class="values">
	    		<h3 class="assesment-type">English</h3>
	    		<div class="values">
	    			<h3>NI</h3>
	    			<h4>Performance</h4>
	    		</div>
	    		<div class="values">
	    			<h3>55</h3>
	    			<h4>Growth</h4>
	    		</div>
	    	</div>
	    	<div class="values">
	    		<h3 class="assesment-type">Math</h3>
	    		<div class="values">
	    			<h3>W</h3>
	    			<h4>Performance</h4>
	    		</div>
	    		<div class="values">
	    			<h3>48</h3>
	    			<h4>Growth</h4>
	    		</div>
	    	</div>
		</div>

		<div class="section">
			<h2>STAR</h2>
	    	<div class="values">
	    		<h5>September</h5>
	    		<div class="month">
		    		<div class="values">
		    			<h3 class="assesment-type">English</h3>
			    		<div class="values">
			    			<h3>21</h3>
			    			<h4>Percentile</h4>
			    		</div>
			    		<div class="values">
			    			<h3>1.0</h3>
			    			<h4>IRL</h4>
			    		</div>
		    		</div>
		    		<div class="values">
		    			<h3 class="assesment-type">Math</h3>
			    		<div class="values">
			    			<h3>94</h3>
			    			<h4>Percentile</h4>
			    		</div>
		    		</div>
	    		</div>
	    	</div>

	    	<div class="values">
	    		<h5>January</h5>
	    		<div class="month">
		    		<div class="values">
		    			<h3 class="assesment-type">English</h3>
			    		<div class="values">
			    			<h3>35</h3>
			    			<h4>Percentile</h4>
			    		</div>
			    		<div class="values">
			    			<h3>3.0</h3>
			    			<h4>IRL</h4>
			    		</div>
		    		</div>
		    		<div class="values">
		    			<h3 class="assesment-type">Math</h3>
			    		<div class="values">
			    			<h3>64</h3>
			    			<h4>Percentile</h4>
			    		</div>
		    		</div>
	    		</div>
	    	</div>

	    	<div class="values">
	    		<h5>May</h5>
	    		<div class="month">
		    		<div class="values">
		    			<h3 class="assesment-type">English</h3>
			    		<div class="values">
			    			<h3>74</h3>
			    			<h4>Percentile</h4>
			    		</div>
			    		<div class="values">
			    			<h3>4.0</h3>
			    			<h4>IRL</h4>
			    		</div>
		    		</div>
		    		<div class="values">
		    			<h3 class="assesment-type">Math</h3>
			    		<div class="values">
			    			<h3>35</h3>
			    			<h4>Percentile</h4>
			    		</div>
		    		</div>
	    		</div>
	    	</div>
		</div>

		<div class="section">
			<h2>Office referrals</h2>
			<div class="referral">
				<p>Offense: <strong>Foul language</strong></p>
				<p>Referral: <strong>Office</strong></p>
				<p class="referral-date">July 21, 2015</p>
			</div>
			<div class="referral">
				<p>Offense: <strong>Violent</strong></p>
				<p>Referral: <strong>Suspension</strong></p>
				<p class="referral-date">May 14, 2015</p>
			</div>
		</div>
    </div>
  </div>
