<style>
  .Footer {
    margin-top: 30px;
    border-top: 1px solid #eee;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Footer-wrapper {
    flex: 1;
    height: 100%;
  }
  @media (max-width: 600px) {
    .Footer-wrapper {
      margin: 5px;
    }
  }
  @media (min-width: 600px) {
    .Footer-wrapper {
      margin: 15px;
    }
  }
</style>
<div class="Footer">
  <div class="Footer-wrapper"><img class="Footer-image" src="img/somerville-schools.jpg" /></div>
  <div class="Footer-wrapper"><img class="Footer-image" src="img/logos/cfa-logo-color.png" /></div>
  <div class="Footer-wrapper"><img class="Footer-image" src="img/logos/microsoft-new-england-stacked.png" /></div>
  <div class="Footer-wrapper"><img class="Footer-image" src="img/logos/boston-foundation.png" /></div>
  <div class="Footer-wrapper"><img class="Footer-image" src="img/new-bedford-schools.jpg" /></div>
  <div class="Footer-wrapper"><img class="Footer-image" src="img/bedford-schools.png" /></div>
</div>