<style>
  .Footer {
    margin-top: 30px;
    border-top: 1px solid #eee;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Footer-image {
    flex: 1;
    margin: 5px;
  }
</style>
<div class="Footer">
  <img class="Footer-image" height="100%" width="100%" src="img/somerville-schools.jpg" />
  <img class="Footer-image" height="100%" width="100%" src="img/logos/cfa-logo-color.png" />
  <img class="Footer-image" height="100%" width="100%" src="img/logos/microsoft-new-england.png" />
  <img class="Footer-image" height="100%" width="100%" src="img/logos/boston-foundation.png" />
  <img class="Footer-image" height="100%" width="100%" src="img/new-bedford-schools.jpg" />
  <img class="Footer-image" height="100%" width="100%" src="img/bedford-schools.png" />
</div>