<style>
  .Footer {
    margin-top: 30px;
    border-top: 1px solid #eee;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Footer-wrapper {
    flex: 1;
    height: 100%;
  }
  @media (max-width: 600px) {
    .Footer-wrapper {
      margin: 5px;
    }
  }
  @media (min-width: 600px) {
    .Footer-wrapper {
      margin: 15px;
    }
  }
</style>
<div class="Footer">
  <div class="Footer-wrapper"><img class="Footer-image" src="img/somerville-schools.jpg" alt="Somerville Public Schools logo"/></div>
  <div class="Footer-wrapper"><img class="Footer-image" src="img/logos/cfa-logo-color.png" alt="Code for America logo" /></div>
  <div class="Footer-wrapper"><img class="Footer-image" src="img/logos/microsoft-new-england-stacked.png" alt="Microsoft New England logo" /></div>
  <div class="Footer-wrapper"><img class="Footer-image" src="img/logos/boston-foundation.png" alt="Boston Foundation logo" /></div>
  <div class="Footer-wrapper"><img class="Footer-image" src="img/new-bedford-schools.jpg" alt="New Bedford Public Schools logo"/></div>
  <div class="Footer-wrapper"><img class="Footer-image" src="img/bedford-schools.png" alt="Bedford Public Schools logo" /></div>
</div>