<div class="Navbar">
  <div class="Navbar-left">
    <div class="Navbar-left-item"><a href="about-us.html">About us</a></div>
    <div class="Navbar-left-item"><a href="our-work.html">Our work</a></div>
    <div class="Navbar-left-item"><a href="trainings-and-videos.html">Trainings and Videos</a></div>
    <div class="Navbar-left-item"><a href="school-partnerships.html">School partnerships</a></div>
    <div class="Navbar-left-item"><a href="updates.html">What's next?</a></div>
  </div>
  <div class="Navbar-right">
    <div class="Navbar-right-item"><a href="{{site.links.demo}}"><b>Demo site</b></a></div>
    <div class="Navbar-right-item"><a href="{{site.links.email}}"><b>Email us</b></a></div>
  </div>
</div>
