<div style="display: flex; margin: 0; padding: 0; justify-content: space-between; border-bottom: 1px solid #eee; padding-bottom: 15px;">
  <div class="Navbar-left">
    <div class="Navbar-left-item"><a href="about-us.html">About us</a></div>
    <div class="Navbar-left-item"><a href="our-work.html">Our work</a></div>
    <div class="Navbar-left-item"><a href="trainings-and-videos.html">Trainings and Videos</a></div>
    <div class="Navbar-left-item"><a href="school-partnerships.html">School partnerships</a></div>
    <div class="Navbar-left-item"><a href="updates.html">What's next?</a></div>
  </div>
  <div class="Navbar-right">
    <div style="display: inline-block; padding-left: 10px;"><a href="{{site.links.demo}}"><b>Demo site</b></a></div>
    <div style="display: inline-block; padding-left: 10px;"><a href="{{site.links.email}}"><b>Email us</b></a></div>
  </div>
</div>
