<div style="display: flex; margin: 0; padding: 0; justify-content: space-between; border-bottom: 1px solid #eee; padding-bottom: 15px;">
  <div>
    <div style="display: inline-block;"><a href="about-us.html">About us</a></div>
    <div style="display: inline-block; padding-left: 10px;"><a href="our-work.html">Our work</a></div>
    <div style="display: inline-block; padding-left: 10px;"><a href="trainings-and-videos.html">Trainings and Videos</a></div>
    <div style="display: inline-block; padding-left: 10px;"><a href="school-partnerships.html">School partnerships</a></div>
    <div style="display: inline-block; padding-left: 10px;"><a href="https://somerville-teacher-tool-demo.herokuapp.com/"><b>Demo site</b></a></div>
  </div>
  <div>
    <div style="display: inline-block; padding-left: 10px;"><a href="updates.html">Updates</a></div>
    <div style="display: inline-block; padding-left: 10px;"><a href="todo.html"><b>Email</b></a></div>
  </div>
</div>
