<div class="Panel">
  <div class="Panel-title">{{include.title}}</div>
  <div class="Panel-container">
    <div class="Panel-quote">
      {{include.quote}}
      <div class="Panel-button Desktop-only">
        {{include.button}}
      </div>
    </div>
    {% if include.href %}
      <a class="Panel-image" href="{{include.href}}">{{include.image}}</a>
    {% else %}
      <div class="Panel-image">{{include.image}}</div>
    {% endif %}
    <div class="Panel-button Mobile-only">
      {{include.button}}
    </div>
  </div>
</div>