<% if masquerade.is_masquerading? %>
  <div class="masquerade-is-masquerading-warning" style="
    pointer-events: none;
    position: fixed;
    top: 0;
    bottom: 0;
    background: red;
    left: 0;
    right: 0;
    opacity: 0.15;
    z-index: 9999;
  "></div>
<% end %>