<div class="sign-in-container">
  <%= form_tag('/educators/sign_in') do %>
    <div class="sign-in-item">
      <label for="educator_username"><%= login_field_label %></label>
      <input id="educator_username"
             class="sign-in-text"
             autofocus="autofocus"
             type="<%= login_field_type %>"
             value=""
             name="educator[username]" />
    </div>
    <div class="sign-in-item">
      <label for="educator_password">Password</label>
      <input id="educator_password"
             class="sign-in-text"
             autocomplete="off"
             type="password"
             name="educator[password]" />
    </div>
    <div class="sign-in-item">
      <input type="submit" name="commit" value="Log in" class="btn btn-primary" data-disable-with="Log in" />
    </div>
  <% end %>
</div>