<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field" id="grade-level-access-field">
  <% @valid_grades.each.with_index do |grade, index| %>
    <span style="width: 60px; display: inline-block;">
      <input type="checkbox"
             name="educator[grade_level_access][<%= grade %>]"
             <%= field.checkbox_on?(grade) %>

      />
      <%= grade %>

    </span>
    <% if grade == 'SP' || grade == '6' %>
      <br/>
    <% end %>
  <% end %>
</div>
