<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field" id="grade-level-access-field">
  <input type="text" value="<%= field.to_s %>" name="educator[grade_level_access]" id="educator_grade_level_access" />
  <br/>
  <em>Valid grades: PK, KF, 1, 2, 3, 4, 5, 6, 7, 8.</em>
  <br/>
  <br/>
  <em>Please enter grade levels separated by commas.</em>
</div>
