<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field" id="grade-level-access-field">
  <%= f.text_field field.attribute %>
  <br/>
  <em>Valid grades: PK, KF, 1, 2, 3, 4, 5, 6, 7, 8.</em>
  <br/>
  <br/>
  <em>Please enter grade levels separated by commas.</em>
</div>
