<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field" id="grade-level-access-field">
  <% @valid_grades.each do |grade| %>
    <label>
      <input type="checkbox"
             name="educator[grade_level_access][<%= grade %>]"
             <%= field.checkbox_on?(grade) %>

      />
      <%= grade %>
    </label>
  <% end %>
</div>
