                      <td class="access">
                          <%= presenter.scale_score %>
                      </td>
                      <td class="access">
                          <%= presenter.performance_level %>
                      </td>
                      <td class="access">
                          <%= presenter.growth_percentile %>
                      </td>
