                    <% if @homeroom.show_dibels? %>
                      <td class="dibels">
                          <%= presenter.performance_level %>
                      </td>
                    <% end %>
