                    <% if @homeroom.show_dibels? %>
                      <td class="dibels <%= initial_show_or_hide('dibels') %>" href="<%= student_url(student_id, chart_start: "dibels") %>">
                          <%= presenter.performance_level %>
                      </td>
                    <% end %>
