                   <% column_name = "mcas_" + subject %>
                   <% if @homeroom.show_mcas? %>
                      <td class="<%= column_name %> performance_level">
                          <%= presenter.performance_level %>
                        </div>
                      </td>
                      <td class="<%= column_name %> growth_percentile">
                          <%= presenter.growth_percentile %>
                      </td>
                    <% end %>
