                    <% if @homeroom.show_star? %>
                      <td class="star_reading">
                          <%= presenter.percentile_rank %>
                      </td>
                      <td class="star_reading">
                          <%= presenter.instructional_reading_level %>
                      </td>
                    <% end %>
