                    <% if @homeroom.show_star? %>
                      <td class="star_math percentile_rank <%= initial_show_or_hide('star_math') %>" href="<%= student_url(student_id, chart_start: "star_math") %>">
                          <%= presenter.percentile_rank %>
                      </td>
                    <% end %>
