                    <% if @homeroom.show_star? %>
                      <td class="star_math <%= initial_show_or_hide('star_math') %>" href="<%= student_url(student, chart_start: "star_math") %>">
                        <div class="cell-wrapper">
                          <%= presenter.percentile_rank %>
                        </div>
                      </td>
                    <% end %>
