                    <% if @homeroom.show_star? %>
                      <td class="star_math percentile_rank">
                          <%= presenter.percentile_rank %>
                      </td>
                    <% end %>
