      <div class="info-area">
        <h3>About</h3>
	        <br/>
	        <p>
	        	Homeroom creates a roster of students that can be grouped in different ways including by homeroom, by subgroup (e.g., low-income students), and by risk. The student risks are assigned according to a formula using MCAS and other assessments. Teachers and district administrators can use this roster to see patterns in their classrooms and identify specific interventions to support their students.
	        </p>
	        <br/>

        <h3>Data</h3>
	        <br/>
	        <p>
	        	Homeroom uses <b>anonymized sample</b> student demographics and assessment data including:

	        	<ul>
		        <br/>
	        		<li>Massachusetts Comprehensive Assessment System (MCAS)</li>
	        		<li>Dynamic Indicators of Basic Early Literacy Skills (DIBELS)</li>
	        		<li>Assessing Comprehension and Communication in English State-to-State (ACCESS)</li>
	        		<li>STAR</li>

	        	</ul>
	        </p>

	        <br/>
	        	<p>
	        		Built by <a href="http://www.codeforamerica.org/governments/somerville/">Team Somerville</a>
	        	</p>
      </div>