<div class="no_default_page info-area">
  It looks like there's a problem with your account.
  <br/>
  Please check with the principal or school secretary if you feel this is incorrect.
  <br/>
  You can also get in touch with the project developers by <a href="https://github.com/studentinsights/studentinsights/issues/new">opening a GitHub issue</a>.
</div>
