<div class="info-area">
  You don't have the correct authorization for this page.
  <br/>
  Please check with the principal or school secretary if you feel this is incorrect.
  <br/>
  You can also get in touch with the project developers by <a href="https://github.com/studentinsights/studentinsights/issues/new">opening a GitHub issue</a>.
</div>
