
a.btn {
  background: #4A90E2;
  color: white;
  padding: 10px;
  display: inline-block;

  &.btn-narrow {
    padding-top: 0;
    padding-bottom: 0;
    outline: 5px solid #4A90E2;
  }
}


@media (max-width: 600px) {
  .Desktop-only {
    display: none;
  }
}

@media (min-width: 600px) {
  .Mobile-only {
    display: none;
  }
}

ul.PlainList {
  padding-left: 1.5em;
}

li.PlainList-item {
  margin: 0;
  padding: 0;  
}

body {
  color: #333;
}


// overridding markdown styling, for quotes in our work
blockquote {
  background-color: #0366d61a;
  padding: 10px !important;
}



.DoubleImage {
  display: flex;
}

.DoubleImage > div {
  margin: 5px;
}
.DoubleImage-small {
  flex: 1;
}
.DoubleImage-big {
  flex: 2;
}
@media (max-width: 600px) {
  .DoubleImage.DoubleImage-unroll {
    flex-direction: column;
  }
}
@media (min-width: 600px) {
  .DoubleImage.DoubleImage-side-margin {
    margin-left: 60px;
    margin-right: 60px;
  }
}

.SingleImage {
  display: block;
  text-align: center;
}
.SingleImage > img {
  margin: 5px;
}
@media (min-width: 600px) {
  .SingleImage.SingleImage-side-margin {
    margin-left: 60px;
    margin-right: 60px;
  }
  .SingleImage.SingleImage-cap-size > img {
    max-width: 520px;
  }
}


.QuadImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.QuadImage > div {
  margin: 5px;
}



.InlineImage {
  border: 1px solid #eee;
}
@media (max-width: 600px) {
  .InlineImage {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (min-width: 600px) {
  .InlineImage {
    width: 50%;
    min-width: 400px;
    float: right;
    margin: 10px;
  }
}

.LongQuote {
  border: 1px solid #eee;
  background-color: #fafafa;
  padding: 15px;
  font-size: 14px;
}
@media (max-width: 600px) {
  .LongQuote.LongQuote-Inline {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (min-width: 600px) {
  .LongQuote.LongQuote-Inline {
    width: 55%;
    min-width: 400px;
    float: right;
    margin: 10px;
  }
}

h1,h2,h3,h4,h5,h6 {
  clear: both;
}

.InlineImage-left {
  float: left;
}