/* home */
/* Home mobile */
@media (max-width: 600px) {
  .Home-title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
    line-height: 1.2em;
  }

  .Home-image-container {
    margin: 10px;
  }

  .Home-image {
    border: 1px solid #eee;
  }
}

/* Home desktop */
@media (min-width: 600px) {
  .Home-container {
    display: flex;
    margin-bottom: 40px;
  }

  .Home-title {
    font-size: 30px;
    line-height: 1.2em;
    font-weight: bold;
    padding-bottom: 20px;
  }

  .Home-text > div > p {
    font-size: 18px;
  }

  .Home-image-container {
    flex: 3;
    padding-right: 15px;
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  .Home-image {
    border: 1px solid #eee;
    height: 100%;
    width: 100%;
  }

  .Home-text {
    flex: 2;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.Home-image-caption {
  text-align: center;
  color: rgb(97, 101, 104);
  padding-top: 10px;
}