/* home */
/* Home mobile */
@media (max-width: 600px) {
  .Home-title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .Home-image-container {
    margin: 10px;
  }

  .Home-image {
    border: 1px solid #eee;
  }
}

/* Home desktop */
@media (min-width: 600px) {
  .Home-container {
    display: flex;
    margin-bottom: 40px;
  }

  .Home-title {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 15px;
  }

  .Home-text > div > p {
    font-size: 18px;
  }

  .Home-image-container {
    flex: 2;
    padding-right: 15px;
    display: flex;
    height: 100%;
  }

  .Home-image {
    border: 1px solid #eee;
    height: 100%;
    width: 100%;
  }

  .Home-text {
    flex: 1;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}


.DoubleImage {
  display: flex;
}
.DoubleImage > div {
  margin: 5px;
}
.DoubleImage-small {
  flex: 1;
}
.DoubleImage-big{
  flex: 2;
}


.QuadImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.QuadImage > div {
  margin: 5px;
}


.TripleCard-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.TripleCard-card {
  flex: 1;
  margin: 5px;
  padding: 15px;
  min-height: 300px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px; */

  &:first-child {
    margin-left: 0;
  }

  &:not(.TripleCard-empty) {
    border: 1px solid #eee;
  }

  &:not(.TripleCard-empty):hover {
    cursor: pointer;
    border: 1px solid #aaa;
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    position: relative;
    left: -1px;
    top: -1px;
    */
    text-decoration: none;
  }
}


.TripleCard-title {
  font-weight: bold;
  color: #333;
}

.TripleCard-line {
  margin-bottom: 10px; 
  color: #333;
}