.Navbar {
  display: flex;
  padding: 0;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.Navbar-left {
  flex: 1;
}

.Navbar-left-item { 
  display: inline-block;
  padding-right: 10px;
}

.Navbar-right {
  text-align: right;
}
@media (min-width: 600px) {
  .Navbar {
    align-items: center;
  }
  
  .Navbar-right {
    width: 18em;
  }

  .btn-narrow {
    position: relative;
    left: -10px;
    margin-left: 15px;
  }
}
@media (max-width: 600px) {
  .Navbar-right {
    width: 6em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.Navbar-right-item {
  display: inline-block;
  padding-left: 10px;
}

.Navbar-work-item {
  display: block;
}

