.Navbar {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.Navbar-left-item { 
  display: inline-block;
  padding-right: 10px;
}

.Navbar-right {
  width: 16em;
}

.Navbar-right-item {
  display: inline-block;
  padding-left: 10px;
}