---
---


@import "{{ site.theme }}";
@import "navbar";
@import "panel";
@import "index";


a.btn {
  background: #4A90E2;
  color: white;
  padding: 10px;
  display: inline-block;
}


@media (max-width: 600px) {
  .Desktop-only {
    display: none;
  }
}

@media (min-width: 600px) {
  .Mobile-only {
    display: none;
  }
}

ul.PlainList {
  list-style: none;
  padding-left: 1em;
}

li.PlainList-item {
  margin: 0;
  padding: 0;  
}