{% extends function == 'json' ? '_corkscrew-api.twig' : '_corkscrew-section.twig' %}

{% set label = 'Links' %}
{% set description = 'A link is a connection from one Web resource to another. Although a simple concept, the link has been one of the primary forces driving the success of the Web (<a href="https://www.w3.org/TR/html4/struct/links.html">W3C, Links</a>).' %}

{% block block_content %}

<p>Content</p>

{% endblock %}
