{% extends function == 'json' ? '_corkscrew-api.twig' : '_corkscrew-section.twig' %}

{% set label = 'Paragraphs' %}
{% set description = 'Paragraphs are usually represented in visual media as blocks of text that are separated from adjacent blocks by vertical blank space and/or first-line indentation (<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/p">MDN, Paragraphs</a>).' %}

{% block block_content %}

<p class="content-copy i-block p-thin"><strong>Content Copy</strong> Powder chocolate bar chocolate croissant. I love halvah brownie halvah halvah cookie. Gummi bears sweet roll topping.</p>

<p class="body-copy i-block p-thin"><strong>Body Copy</strong> Powder tiramisu caramels liquorice croissant chocolate. Halvah sweet I love chocolate bar chocolate croissant. I love halvah brownie halvah halvah cookie. Gummi bears sweet roll topping.</p>

{% endblock %}

