<!DOCTYPE html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @error_message %></h1>
    <pre>
      <%= @error_backtrace %>
    </pre>
    <% if @extra_info %>
      <pre>
        <%= JSON.pretty_generate(@extra_info) %>
      </pre>
    <% end %>
  </body>
</html>
