<div class="info-area">

  <div class="about-page">

    <div class="detailed-content-area">
      <h1 class="about-head">What is this?</h1>
      <h2 class="about-big">Student Insights</h2>
      <p>a tool for <%= ENV.fetch('DISTRICT_NAME') %> educators</p>
    </div>

    <div class="detailed-content-area">
      <h1 class="about-head">What's it supposed to fix?</h1>
      <p>Databases that don't talk to each other.</p>
      <p>Big gaps in student records that make you hunt down information.</p>
      <p>Having to print out student data and store it in big binders.</p>

      <div class="teacher-photo">
        <div id="data-binder"></div>
      </div>
    </div>

    <div class="detailed-content-area">
      <h1 class="about-head">What does it do?</h1>
      <div id="pillars">
        <div class="pillar">
          <div class="circular" id="roster"></div>
          <h2 class="about-big">Roster</h2>
            <p>Giving teachers a current snapshot of their classroom that shows which students are  most at risk.</p>
        </div>
        <div class="pillar">
          <div class="circular" id="profile"></div>
          <h2 class="about-big">Profile</h2>
            <p>A deep yearly history of the teacher's current students over time, both academic and behavioural.</p>
        </div>
        <div class="pillar">
          <div class="circular" id="interventions"></div>
          <h2 class="about-big">Interventions</h2>
            <p>Showing teachers which students are most in need of interventions and giving the ability to log interventions.</p>
        </div>
      </div>
    </div>

    <div class="detailed-content-area">
      <h1 class="about-head">How is it going?</h1>
      <h2 class="about-big">We are in development</h2>
      <p>This is currently an <strong>alpha product</strong>.</p>
      <p>We are still working out bugs and building out new features.</p>
      <p>See the code for this teacher tool and leave a comment on <a href="https://github.com/codeforamerica/somerville-teacher-tool" target="_blank">GitHub.</a></p>

      <div class="logos">
        <ul class="logo-list">
          <li><a href="http://www.somervillema.gov/" target="_blank" class="somerville-logo"><%= image_tag "somerville_logo.png" %></a></li>
          <li><a href="https://www.codeforamerica.org/" target="_blank" class="cfa-logo"><%= image_tag "cfa_logo.png" %></a></li>
          <ul>
      </div>
    </div>

  </div>

</div>
