<%#
# YesNoBooleanField Form Partial

This partial renders an input element for a YesNoBoolean attribute.
By default, the input is a checkbox.
%>

<% unless field.name == 'districtwide_access' &&
          !current_educator.can_set_districtwide_access
          # Don't show the districtwide access field if user doesn't have access
  %>
  <div class="field-unit__label">
    <%= f.label field.attribute %>
  </div>
  <div class="field-unit__field">
    <%= f.check_box field.attribute %>
  </div>
<% end %>
