        <br/>
        <ol>
          <% students.each do |student| %>
            <li class="bigtype">
              <%= link_to student[:name], student_path(student[:id]), class: "bigtype" %>
              <ul>
                <li><%= student[:result_value] %> <%= student[:result_name] %></li>
                <li><%= pluralize(student[:interventions_count], "intervention") %> logged</li>
              </ul>
              <br>
            </li>
          <% end %>
        </ol>
        <br/>
