.FlexibleRoster {
  table.roster-table {
    border-collapse: collapse;
  
    thead th {
      font-size: 12px;
    }

    th, td {
      padding: 5px 10px;
      text-align: left;
    }

    th.column-group {
      font-size: 12px;
      text-align: center;
      border-bottom: 1px solid #ccc;
    }

    th.sort-header {
      border-bottom: 1px solid #000;
      cursor: pointer;
    }
  }
}