.DashboardFilterBar {
  border-bottom: 1px solid #ccc;
  display: flex;
  padding: 10px;
}

.DashboardColumns {
  display: flex;
  padding: 10px;
  flex: 1;
}

.DashboardRosterColumn {
  display: flex;
  align-content: flex-start;
  width: 450px;
}

.DashboardChartsColumn {
  flex: 1;

  display: flex;
  flex-direction: column;
  padding: 0 20px;
  
  // This overrides the default react-select styles imported in the app to make sure our lists
  // are not cut off. See: https://github.com/JedWatson/react-select/blob/master/less/menu.less
  .Select-menu-outer {
    max-height: 1000px;
  }
  .Select-menu {
    max-height: 998px;
  }
}
