
.DashboardContainer {
  display: flex;
  height: 85vh;
}

.DashboardChartsColumn {
  flex: 2 1;
  display: flex;
  flex-direction: column;
  padding: 10px 20px 0px 20px
}

.DashboardRosterColumn {
  flex: 1;
  vertical-align: top;
  padding-right: 20px;
}

.DashboardChart {
  flex: 1;
  width: 100%;
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #ccc;

  div {
    height: 100%;
  }
}

.DashboardDatePicker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 7px;
  margin-bottom: 7px;
}

.DashRangeButtons {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 0px 40px;
  margin-top: 10px;
  .DashButton {
    width: 33%;
  }
}

.ui-datepicker-prev {
  float: left;
}

.ui-datepicker-next {
  float: right;
}

.StudentsList {
  margin-top: 20px;
}

table.students-list {
  margin: auto;
  border: 1px solid #ccc;
  width: 100%;

  thead th, tfoot td {
    height: 30px;
    line-height: 30px;
    text-align: left;
  }

  tfoot {
    width: 100%;
    border-bottom: 1px solid #ccc;
  }

  tbody td, thead th, tfoot td {
  }

  tbody {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
}


