.DashboardContainer {
  display: flex;
  height: 85vh;
}

.DashboardChartsColumn {
  flex: 2 1;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  // This overrides the default react-select styles imported in the app to make sure our lists
  // are not cut off. See: https://github.com/JedWatson/react-select/blob/master/less/menu.less
  .Select-menu-outer {
    max-height: 1000px;
  }
  .Select-menu {
    max-height: 998px;
  }
}

.DashboardRosterColumn {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-left: 20px;
}

.DashboardChart {
  flex: 1;
  width: 100%;
  margin-top: 20px;
  padding: 10px 10px 10px 10px;

  div {
    height: 100%;
  }
}

.DashboardDatePicker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 7px;
  margin-bottom: 7px;
}

.DashRangeButtonWrapper {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  margin: 20px;
}

.DashRangeButtons {
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
  width: 400px;

  .DashButton {
    width: 25%;
  }
}

.ui-datepicker-prev {
  float: left;
}

.ui-datepicker-next {
  float: right;
}
