.SlicePanels {
  .column {
    display: inline-block;
    vertical-align: top;
    padding: 8px 5px;

    &.pad-column-right {
      padding-right: 10px;
    }

    & > div.CollapsableTable {
      border-bottom: 1px solid #ddd;

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  .column table td.caption-cell {
    width: 130px;
  }

  .grades-column  table td.caption-cell {
    width: 40px;
  }

  .attendance-column table td.caption-cell {
    width: 100px;
  }

  .interventions-column table td.caption-cell {
    width: 175px;
  }

  .clickable-row:hover {
    text-decoration: underline;
  }


  .FixedTable {
    table {
      table-layout: fixed;
      border-collapse: collapse;

      td {
        padding: 0;
      }
    }

    .bar {
      background-color: rgba(49, 119, 201, 0.75);
    }
  }


  .StudentsTable {
    table.students-table {
      border-collapse: collapse;

      thead th {
        font-size: 12px;
        border-bottom: 1px solid #ccc;
      }

      tr:hover {
        background-color: $table-row-hover;
      }

      th, td {
        padding: 4px 10px;
        text-align: left;
      }
    }
  }
}
