.SlicePanels {
  .column {
    display: inline-block;
    vertical-align: top;
    padding: 8px 5px;

    &.pad-column-right {
      padding-right: 10px;
    }

    & > div.CollapsableTable {
      border-bottom: 1px solid #ddd;

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  .column table td.caption-cell {
    width: 130px;
  }

  .grades-column  table td.caption-cell {
    width: 40px;
  }

  .attendance-column table td.caption-cell {
    width: 100px;
  }

  .interventions-column table td.caption-cell {
    width: 175px;
  }
}
