.StudentsTable {
  table.students-table {
    border-collapse: collapse;

    thead th {
      font-size: 12px;
      border-bottom: 1px solid $light-line;
    }

    tr:hover {
      background-color: #E5E5E5;
    }

    th, td {
      padding: 4px 10px;
      text-align: left;
    }
  }
}