/* ABOUT PAGE */

.about-page {
	text-align: center;
  margin-left: auto;
  margin-right: auto;
	h4 {
		margin-bottom: 10px;
	}

	h5 {
		margin-bottom: 20px;
	}
}

.what, .how, .logos {
	margin-top: 70px;
}

.who {
	margin-top: 40px;
}

.teacher-photo {
	margin-top: 40px;
}

.logos {
	margin-bottom: 40px;
}

.somerville-logo {
	margin-right: 30px;
}

.what {

	h4 {
		margin-top: 15px;
		margin-bottom: 10px;
	}

	.headline {
		margin-bottom: 20px;
	}
	
	#pillars {
		margin-left: auto;
		margin-right: auto;
	}

	.pillar {
		width: 30%;
	  display: inline-block;
	  padding: 10px;
	  @media screen and (max-width: 680px) {
	  	display: inline;
	  	width: 80%;
	  }
	  p {
	  	margin-bottom: 25px;
	  }
	}
}

#roster {
	background: url(/assets/roster_pillar.png) no-repeat;
}

#profile {
	background: url(/assets/profile_pillar.png) no-repeat;
}

#interventions {
	background: url(/assets/interventions_pillar.png) no-repeat;
}

.circular {
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border: 3px solid $light-line;
}

#teachers {
	display: inline-block;
  width: 80%;
	height: 160px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background: url(/assets/teachers.png) no-repeat;
	@media screen and (min-width: 1200px) {
		width: 750px;
  }
}
