/* override normal CSS to fit with administrate theme */
.app-container {
  a.button {
    color: white !important;
  }
}

/* override administrate theming; these aren't clickable */
table.admin-educator-labels-table-styles {
  tr:hover {
    background-color: white;
    cursor: default;
  }
}