/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require style
 *= require tablesort
 *= require tooltipster
 *= require jquery-ui
 *= require react-select
 */

.flex-container {
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   width: 500px;
   height: 35px;
   margin-right: 253px;
}

.flex-item {
   width: 185px;
   display: inline-block;
   bottom: : 10px;
   margin: -18px;
}

.border-sign_in {
     border: 3px inset #4a90e2
}
