/* Move to shared. Maybe should be a component? */

.btn {
  margin: auto;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: $white;
  font-size: 14px;
  padding: 8px 25px;
  text-decoration: none;
  border: none;

  &:not(.btn-disabled) {
    background: $blue;
    cursor: pointer;
  }

  &.btn-disabled {
    background: #aaa;
    cursor: default;
  }

  &:hover:not(.btn-disabled) {
    background-color: darken($blue, 10%);
    text-decoration: none;
  }

  &.btn-warning {
    background-color: $warning-red;

    &:hover {
      background-color: darken($warning-red, 10%);
    }
  }
}
