/* Move to shared. Maybe should be a component? */

.btn {
  margin: auto;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: $white;
  font-size: 14px;
  background: $blue;
  padding: 8px 25px;
  text-decoration: none;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: darken($blue, 10%);
    text-decoration: none;
  }
}
