/* CONTROLS */

.dropdown {
  position: relative;
  right: 30px;
  float: left;
  margin: 15px;
}

.dropdown p {
  display: inline-block;
  font-weight: normal;
  color: $light-gray;
  margin-right: 5px;
}

#homeroom-dropdown {
  display: inline-block;
}

#controls {
  padding: 30px;
  width: 80%;
  margin: auto auto;
  height: 120px;
}

#column-group-dropdown  {
  display: inline-block;
  float: left;
}

#column-group-select {
  width: 280px;
  @media screen and (min-width: 820px) {
    width: 360px;
  }
}