/* CONTROLS */

.dropdown {
  right: 30px;
  float: left;
  margin-top: 17px;
  margin-right: 15px;
}

.dropdown p {
  display: inline-block;
  font-weight: normal;
  color: $light-gray;
  margin-right: 5px;
  margin-top: 3px;
}

#homeroom-dropdown {
  display: inline-block;
}

#controls {
  width: 80%;
  margin: auto auto;
  height: 60px;
  @media screen and (max-width: $phase1) {
    height: 100px;
  }
  padding-bottom: 15px;
  clear: both;
}

#column-group-dropdown  {
  display: inline-block;
  float: left;
}

#column-group-select {
  @media screen and (max-width: $phase1) {
    width: 280px;
  }
}

.chosen-container {

  @media screen and (max-width: $phase2) {
  margin-bottom: 30px;
  }
}
