/* CONTROLS */

.nav-options {
  right: 30px;
  float: left;
  margin-top: 17px;
  margin-right: 15px;
}

.nav-options p {
  display: inline-block;
  font-weight: normal;
  color: $light-gray;
  margin-right: 5px;
  margin-top: 3px;
}

#roster-nav-options {
  display: inline-block;
}

#controls {
  width: 80%;
  margin: auto auto;
  height: 60px;
  @media screen and (max-width: $phase1) {
    height: 100px;
  }
  padding-bottom: 15px;
  clear: both;
}

.chosen-container {

  @media screen and (max-width: $phase2) {
  margin-bottom: 30px;
  }
}
