/* OVERALL STYLES */

* {
  font-family: 'Open Sans', sans-serif !important;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

pre, code {
  font-family: monospace !important;
}

body {
  min-width: 1000px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4px;
  color: $gray
}

textarea {
  width: 96%;
  margin: auto auto;
  padding: 10px;
}

p {
  font-size: 14px;
  font-weight: 400;
  color: $gray;
}

strong {
  font-size: 14px;
  font-weight: 700;
  color: $gray;
}

h1 {
  font-size: 24px;
  font-weight: 300;
  color: $dark-gray;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  color: $gray;
}

h3 {
  font-size: 14px;
  font-weight: 700;
  color: $gray;
}

h4 {
  font-size: 24px;
  font-weight: 300;
  color: $blue;
}

h5 {
  font-size: 14px;
  font-weight: 700;
  color: $gray;
  text-transform: uppercase;
}

h6 {
  font-size: 14px;
  font-weight: 700;
  color: $dark-gray;
}

a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

a:link, a:visited {
  color: $blue-link;
}

a:hover, a:active {
  color: $blue-link-hover;
}

.smalltype {
  font-size: 13px;
  font-weight: 300;
  color: $light-gray;
}

.hidden {
  display: none !important;
}
