/* HOMEROOM DROPDOWN */

.dropdown {
  position: relative;
  float: left;
  margin: 0px;
  padding: 0px;
  margin-top: 15px;
}

.dropdown p {
  display: inline-block;
  font-weight: normal;
  color: $light-gray;
  margin-right: 5px;
}

#homeroom-dropdown {
  position: relative;
  right: 30px;
}

#controls {
  padding-left: 30px;
  width: 80%;
  margin: 10px auto 70px auto;
}