.Layout {
  .Layout-message {
    padding: 20px;
    background-color: red;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;

    a {
      font-size: 30px;
    }
  }

  .Layout-big-warning {
    background-color: red;
    font-size: 30px;
  }

  .Layout-status-message {
    background-color: #ff9b00;
    font-size: 15px;
  }
}