/* NAV */

nav {
    display: block;
    clear: both;
}

nav a:link, a:visited {
    color: #4A90E2; 
    padding-right: 20px;
}

nav a:hover, a:active {
    color: #4a6ae2; 
}

.nav {
  border-bottom: 1px solid #C6C6C6;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav #title {
  padding-bottom: 10px;
  padding-top: 10px;
}

.navwrap {
  width: 80%;
  margin: 10px auto;
}

#controls {
  padding-left: 30px;
  width: 80%;
  margin: 10px auto 70px auto;
}
