/* NAV */
/* Move to shared. */

.nav {
  border-bottom: 1px solid $light-line;
  background-color: $white;

  .nav-options {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    > * {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .logo {
    display: inline-block;
    width: 210px;
    height: 60px;
    background: url(asset-path("student-insights-logo-small.png")) no-repeat;
  }

  @media screen and (max-width: $phase2) {
    padding-bottom: 10px;
  }

  .search-label {
    display: inline-block;
  }

  #student-searchbar {
    margin: 0 30px 10px 0;
  }

  .navwrap {
    margin: 0 20px;
    position: relative;
    bottom: 1px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    nav {
      float: right;

      a {
        padding-right: 10px;
        &:hover {
          text-decoration: underline;
        }

        @media screen and (max-width: $phase2) {
          padding-right: 20px;
          padding-left: 0;
        }
      }

      @media screen and (max-width: $phase2) {
        padding-bottom: 20px;
      }
    }
  }

  #renew-session {
    background-color: $blue;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    top: -10px;
    display: none;
    a {
      color: white;
      text-decoration: underline;
      font-size: 16px;
    }
  }

  .flash {
    padding: 10px;
  }

  /* SIGN IN FLOW & MESSAGES */

  .notice {
    color: $warning-green;
    font-weight: 700;
  }

  .alert {
    color: $warning-red;
    font-weight: 700;
  }

  .sign-in-container {
    flex: 1;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    height: 35px;
    padding-top: 15px;
    margin-right: 20px;

    .sign-in-item {
      display: inline-block;
      bottom: 10px;
    }

    .sign-in-text {
      width: 20em;
      border: 3px inset #4a90e2
    }
  }
}
