/* NAV */
/* Move to shared. */

.nav {
  border-bottom: 1px solid $light-line;
  background-color: $white;

  .nav-options {
    flex: 1;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    align-items: center;

    > * {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .nav-options-is-masquerading > .nav-options-masquerading-warning {
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    background: red;
    left: 0;
    right: 0;
    opacity: 0.25;
  }

  .logo {
    display: inline-block;
    width: 135px;
    height: 40px;
    margin-top: 5px;
    background: url(asset-path("student-insights-logo-small.png")) no-repeat;
  }

  @media screen and (max-width: $phase2) {
    padding-bottom: 10px;
  }

  .search-label {
    display: inline-block;
  }

  .student-searchbar {
    font-size: 14px;
    padding: 3px 5px;
    margin-top: 1px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .navbar-spacer {
    display: inline-block;
    width: 15px;
  }

  .navwrap {
    padding: 5px 20px 5px 20px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    nav {
      float: right;

      a {
        padding-right: 10px;
        &:hover {
          text-decoration: underline;
        }

        @media screen and (max-width: $phase2) {
          padding-right: 20px;
          padding-left: 0;
        }
      }

      @media screen and (max-width: $phase2) {
        padding-bottom: 20px;
      }
    }
  }

  #renew-session {
    background-color: $blue;
    color: white;
    text-align: center;
    padding: 10px;
    display: none;

    a {
      color: white;
      text-decoration: underline;
      font-size: 16px;
    }
  }

  .flash {
    position: absolute;
    right: 20px;
    top: 65px; /* just below bar */
  }

  /* SIGN IN FLOW & MESSAGES */

  .alert {
    color: $warning-red;
    font-weight: 700;
  }

  .sign-in-container {
    flex: 1;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;

    .sign-in-item {
      display: inline-block;
      bottom: 10px;
    }

    .sign-in-text {
      width: 20em;
      border: 3px inset #4a90e2
    }

    label {
      margin-bottom: 0;
    }
  }

  .big_warning {
    padding: 20px;
    background-color: red;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;

    a {
      font-size: 30px;
    }
  }

  .status_message {
    padding: 20px;
    background-color: #ff9b00;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: 15px;
  }
}
