/* NAV */

#renew-session {
  background-color: $blue;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  top: -10px;
  display: none;
  a {
    color: white;
    text-decoration: underline;
    font-size: 16px;
  }
}

.nav {
  border-bottom: 1px solid $light-line;
  background-color: $white;
  padding-top: 10px;

  @media screen and (max-width: $phase2) {
    padding-bottom: 10px;
  }
}

#student-searchbar {
  margin: 0 30px 10px 0;
}

.navwrap {
  margin: 0 20px;
  position: relative;
  bottom: 1px;

  #title {
    display: inline;
  }

  nav {
    float: right;
    padding-top: 38px;

    a {
      padding-right: 10px;

      @media screen and (max-width: $phase2) {
        padding-right: 20px;
        padding-left: 0;
      }
    }

    @media screen and (max-width: $phase2) {
      padding-bottom: 20px;
    }
  }
}
