.NavbarSignedIn {
  border-bottom: 1px solid $light-line;
  background-color: $white;
  height: 50px;
  padding: 5px 20px 5px 20px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .NavbarSignedIn-logo-and-name {
    height: 32px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }

  .Logo {
    height: 100%;
  }

  .Wordmark {
    height: 70%;
    align-self: center;
    position: relative;
    padding-left: 3px;
  }

  .NavbarSignedIn-options {
    flex: 1;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    align-items: center;

    > * {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .NavbarSignedIn-spacer {
    display: inline-block;
    width: 15px;
  }

  .NavbarSignedIn-student-searchbar .student-searchbar {
    font-size: 14px;
    padding: 3px 5px;
    margin-top: 1px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
}