/* copied from NavbarSignedIn to isolate */
.AdminEducatorPermissions {
  .NavbarSignedIn-logo-and-name {
    height: 32px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }

  .Logo {
    width: 32px;
    height: 100%;
  }

  .Wordmark {
    width: 150px; /* font size essentially */
    align-self: center;
    position: relative;
    top: 1px;
    padding-left: 3px;
  }
}