.NotAuthorizedPage {
  margin: 20px;
  padding: 20px;
  font-size: 14px;
  background: orange;
  color: black;
  display: inline-block;

  .NotAuthorizedPage-first-line {
    font-weight: bold;
    margin-bottom: 20px;
  }

  a {
     font-weight: bold;
  }
}