/* OVERALL STYLES */

* {
  font-family: 'Open Sans', sans-serif !important;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

table {
  width: 100%;
}

body {
  background-color: $backgroud;
}

.info-area {
  width: 80%;
  margin: auto auto;
  background-color: $white;
  border-radius: 9px;
  padding: 30px;
  border: solid 1px $light-line;
  margin-bottom: 50px;
  overflow: auto;
}

.index .info-area {
    margin-top: 0;
}

.risk-0 {
    background-color: $risk-0;

    &:hover {
        background-color: darken($risk-0, 10%);
    }
}

.risk-1 {
    background-color: $risk-1;

    &:hover {
        background-color: darken($risk-1, 10%);
    }
}

.risk-2 {
    background-color: $risk-2;

    &:hover {
        background-color: darken($risk-2, 10%);
    }
}

.risk-3 {
    background-color: $risk-3;

    &:hover {
        background-color: darken($risk-3, 10%);
    }
}

.risk-na {
    background-color: $gray;
}

.hide {
  display: none;
}
