/* OVERALL STYLES */

* {
  font-family: 'Open Sans', sans-serif !important;
  margin: 0px;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

table {
  width: 100%;
}

body { 
  background-color: #efefef;
}