/* OVERALL STYLES */

* {
  font-family: 'Open Sans', sans-serif !important;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  background-color: $backgroud;
}

.info-area {
  position: relative;
  width: 80%;
  padding: 30px;
  margin: auto auto;
  background-color: $white;
  border-radius: 9px;
  border: solid 1px $light-line;
  margin-bottom: 50px;
  overflow: auto;
}

.students .info-area {
  padding: 0 0 30px 0;
  margin-top: 0;
  clear: both;
}

.index .info-area {
  margin-top: 0;
}

.risk-0 {
  background-color: $risk-0;

  &:hover {
    background-color: darken($risk-0, 10%);
  }
}

.risk-1 {
  background-color: $risk-1;

  &:hover {
    background-color: darken($risk-1, 10%);
  }
}

.risk-2 {
  background-color: $risk-2;

  &:hover {
    background-color: darken($risk-2, 10%);
  }
}

.risk-3 {
  background-color: $risk-3;

  &:hover {
    background-color: darken($risk-3, 10%);
  }
}

.risk-na {
  background-color: $gray;
}

.hide {
  display: none;
}

.sessions {
  .info-area {
    margin-top: 40px;
  }
}

.about {
  .info-area {
    margin-top: 40px;
  }
}

#log-in {
  margin: auto auto;
  width: 134px;

  h2 {
    margin-bottom: 20px;
    border-bottom: 1px solid $light-line;
  }
}

.underline {
  border-bottom: 1px solid $dark-line;
}

label {
  display: block;
  margin-bottom: 4px;
  color: $gray
}

textarea {
  width: 96%;
  margin: auto auto;
  padding: 10px;
}
