/* HOMEROOM ROSTER */

.homerooms.show {

  #roster-controls, .topline-info {
    padding: 30px 20px 20px 30px;
    float: left;
  }

  #roster-table {
    th.sortable_header {
      cursor: pointer;
    }
  }

  #column-picker-toggle {
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 130px;
  }

  #column-picker {
    position: absolute;
    right: 25px;
    top: 160px;
    background-color: white;
    z-index: 100;
    border: 2px solid $backgroud;
    border-radius: 4px;
    padding: 20px;
    text-align: left;

    p {
      border-bottom: 1px solid $dark-line;
      margin-bottom: 10px;
      font-weight: 700;
    }

    .close {
      float: right;
      color: blue;
      font-weight: lighter;
      font-size: 12px;
      position: relative;
      top: 2px;
      cursor: pointer;
    }

    label {
      padding-left: 3px;
      display: inline-block;
    }

    #column-template {
      padding-bottom: 5px;
    }
  }
}
