.schools .overview {
  font-family: Helvetica;
  padding: 0;
  margin: 0;
}

.school-dashboard {
  h2 {
    margin-bottom: 10px;
  }

  .dashboard-table {
    margin-bottom: 40px;
  }

  .mcas-ela-concern .dashboard-table {
    background: $ela;
  }

  .mcas-math-concern .dashboard-table {
    background: $math;
  }

  .attendance-absences-concern .dashboard-table,
  .attendance-tardies-concern .dashboard-table {
    background: $attendance;
  }

  .summary-container {
    min-height: 288px;
  }
}
