.school-overview {
  .column {
    display: inline-block;
    vertical-align: top;
    padding: 8px 5px;

    &.pad-column-right {
      padding-right: 10px;
    }

    & > div.CollapsableTable {
      border-bottom: 1px solid #ccc;

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  table {
    table-layout: fixed;
    border-collapse: collapse;
  }

  table td {
    padding: 0;

    &.caption-cell {
      width: 130px;
    }
  }

  .bar {
    background-color: rgba(49, 119, 201, 0.75);
  }

  .grades-column  table td.caption-cell {
    width: 40px;
  }

  .attendance-column table td.caption-cell {
    width: 100px;
  }

  .interventions-column table td.caption-cell {
    width: 175px;
  }


  .StudentsTable {
    thead th {
      font-size: 12px;
    }

    tbody {
      border-top: 1px solid #ccc;

      td {
        padding: 5px;
      }
    }
  }
}