.SignInPage {
  display: flex;
  height: 100%;
  font-size: 14px;

  .SignInPage-logo-and-name {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 50px;
  }

  .Logo {
    width: 35px;
    height: auto;
    position: relative;
  }

  .Wordmark {
    width: 18em; /* sizing, for IE */
    position: relative;
    top: 2px;
    align-self: flex-end;
  }

  .SignInPage-item {
    padding-top: 15px;
  }

  .SignInPage-input-text {
    font-size: 14px;
    padding: 6px;
    padding-left: 30px;
    border: 1px solid #ccc;
    width: 355px;
    height: 45px;
    border-radius: 28px;
    background-color: #FAFAFA;
    margin-bottom: 15px;

    &:invalid, &:required {
      box-shadow: 0 0 1px 1px #eee;
    }

    &:focus {
      outline: none;
      border: 1px solid $blue;
      box-shadow: 0 0 1px 1px $blue;
    }

    &[readonly] {
      background: #ccc;
    }
  }

  .SignInPage-multifactor {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 5px;
    flex: 1;
  }

  .SignInPage-left-box {
    flex: 3;
    overflow: hidden;
    height: 100%;
  }

  .SignInPage-splash-image {
    height: 100%;
  }

  .SignInPage-right-box {
    padding-top: 30px;
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: white;
  }

  .SignInPage-login-buttons {
    display: flex;
    padding-top: 15px;
  }

  .SignInPage-login-button {
    padding: 15px;
    width: 200px;
  }

  .SignInPage-district-logo {
    width: 200px;
    height: 200px;
    padding-top: 15px;
    margin-bottom: 25px;
    margin-top: 15px;
  }

  .SignInPage-email {
    margin-top: 35px;
  }

  .SignInPage-links {
    display: flex;
    justify-content: space-between;
    width: 110px;
    margin-top: 5px;
  }
}
