/* SIGN IN FLOW & MESSAGES */

.field {
	margin-bottom: 20px;
}

.notice {
	color: $warning-green;
	font-weight: 700;
}

.alert {
	color: $warning-red;
	font-weight: 700;
}

.sign-in-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  height: 35px;
  padding-top: 15px;
  margin-right: 20px;

  .sign-in-item {
    display: inline-block;
    bottom: 10px;
  }

  .sign-in-text {
    width: 20em;
    border: 3px inset #4a90e2
  }
}