.SignInPage {
  display: flex;
  height: 100%;
  font-size: 14px;

  .SignInPage-logo-and-name {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 50px;
  }

  .SCREENS-WINDOW {
    outline: 1px solid blue;
    width: 350px;
    height: 150px;
    overflow: hidden;
    position: relative;
  }
  .SCREENS-CONTAINER {
    outline: 1px solid red;
    background: yellow;
    position: absolute;
    display: flex;
    flex-direction: row;

    transition-property: transform;
    transition-duration: 400ms;
    transition-timing-function: ease;
  }
  .SCREEN {
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .SignInPage-item {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
  }

  .SLIDE-ONE {
    transform: translateX(0px);
  }
  .SLIDE-TWO {
    transform: translateX(-350px);
  }
  .SLIDE-THREE {
    transform: translateX(-700px);
  }

  .Logo {
    width: 35px;
    height: auto;
    position: relative;
  }

  .Wordmark {
    width: 18em; /* sizing, for IE */
    position: relative;
    top: 2px;
    align-self: flex-end;
  }

  .SignInPage-input-text {
    font-size: 14px;
    padding: 6px;
    padding-left: 20px;
    border: 1px solid $light-line;
    height: 45px;
    border-radius: 28px;
    background-color: #FAFAFA;
    width: 100%;
    margin-bottom: 15px;

    &:invalid, &:required {
      box-shadow: 0 0 1px 1px #eee;
    }

    &:focus {
      outline: none;
      border: 1px solid $blue;
      box-shadow: 0 0 1px 1px $blue;
    }

    &[readonly] {
      background: $light-line;
    }
  }

  .SignInPage-multifactor {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .SignInPage-left-box {
    flex: 3;
    overflow: hidden;
    height: 100%;
    position: relative;
    z-index: 100;
  }

  .SignInPage-share-photo {
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }

  .SignInPage-splash-image {
    height: 100%;
  }

  .SignInPage-right-box {
    padding-top: 30px;
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: white;
    z-index: 10;
  }

  .SignInPage-right-box-content {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .SignInPage-flash-alert {
    height: 1.5em;
    color: darkorange;
    font-weight: 700;
  }

  .SignInPage-login-buttons {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
  }

  .SignInPage-button {
    padding: 15px;
    width: 160px;
  }

  .SignInPage-district-logo {
    width: 200px;
    height: 200px;
    padding-top: 15px;
    margin-bottom: 25px;
    margin-top: 15px;
  }

  .SignInPage-email {
    margin-top: 35px;
  }

  .SignInPage-links {
    display: flex;
    justify-content: space-between;
    width: 110px;
    margin-top: 5px;
  }

  .SignInPage-change-coming {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > div {
      padding: 10px;
      background: #94e38f66;
      border-radius: 3px;
      margin-bottom: 20px;
    }
  }
}
