.SignInPage {
  font-size: 14px;

  .SignInPage-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding-top: 20px;
    padding-bottom: 0;
  }

  .SignInPage-form-row {
    width: 80%;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .SignInPage-logo-and-name {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 50px;
  }


  .Logo {
    width: 40px;
    height: auto;
    position: relative;
  }

  .Wordmark {
    width: 18em; /* sizing, for IE */
    position: relative;
    top: 2px;
    align-self: flex-end;
  }

  .SignInPage-form, .SignInPage-multifactor-form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .SignInPage-item {
    display: inline-block;
    margin-left: 15px;
  }

  .SignInPage-item .btn {
    width: 8em;
  }

  .SignInPage-input-text {
    font-size: 14px;
    padding: 6px;
    border: 1px solid $light-line;

    &:invalid, &:required {
      box-shadow: 0 0 1px 1px #eee;
    }

    &[readonly] {
      background: $light-line;
    }
  }

  .SignInPage-input-login {
    width: 20em;
  }

  .SignInPage-input-password {
    width: 10em;
  }

  .SignInPage-input-login-code {
    width: 6em;
  }

  .SignInPage-label {
    margin-bottom: 5px;
  }

  .SignInPage-messages-row {
    width: 80%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    min-height: 3.1em;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .SignInPage-flash {
    display: block;
  }

  .SignInPage-alert {
    color: $warning-red;
    font-weight: 700;
  }

  .SignInPage-multifactor {
    margin-left: 10px;
    margin-bottom: 5px;
  }

  .SignInPage-multifactor-sent-code {
    color: orange;
    font-weight: bold;
  }

  .SignInPage-change-coming {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > div {
      padding: 10px;
      background: #94e38f66;
      border-radius: 3px;
      margin-bottom: 20px;
    }
  }
}
