 /* STUDENT PROFILE */

#export-button {
  float: right;
  display: inline;
  position: relative;
  padding: 3px 15px;
  margin-top: 18px;
  border-radius: 4px;
  background-color: $white;
  color: $gray;
  border: 1px solid $light-line;
}

#export {
  display: inline;
  clear: both;
}

#risk-pill {
  float: right;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: help;

  h3 {
    color: $white;
  }
}

.row {
  float: left;
  height: 100%;
}

#demographics-row {
  width: 40%;
  margin-right: 5%;

  @media screen and (max-width: $phase2) {
  width: 100%;
  margin-right: 0;
  }

  h1 {
    font-size: 18px;
    font-weight: 400;
    color: $gray;
    border-bottom: 1px solid $light-line;

  }

  h2{
    font-size: 16px;
    font-weight: 300;
    color: $gray;
    padding-bottom: 4px;
  }
}

.demographics-item{
    font-size: 14px;
    font-weight: 400;
    color: $gray;

}

#school-year-boxes-row {
  width: 55%;

  @media screen and (max-width: $phase2) {
  width: 100%;
  }
}

.demographics-block {
  margin: 20px 0px;
}

.demographics-item {
  display: block;
}

.school-year {
  text-align: center;
  border-left: 1px solid $light-line;
  border-right: 1px solid $light-line;
  border-bottom: 1px solid $light-line;
  border-radius: 4px;
  margin-top: 25px;
}

.year {
  background: $blue;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  height: 50px;
  padding-top: 14px;

 /* SAVE FOR V2 UPDATE */
  // h1 {
  //   text-align: left;
  //   padding-left: 30px;
  // }
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $light-line;
  margin-right:30px;
  margin-left:30px;

  .values {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.section:last-child {
  padding-bottom: 50px;
  border: none;
}

.month{
  background: #EEEEEE;
  border-radius: 4px;
  margin-top: 5px;
  padding: 0 10px 20px 10px;
}

.referral {
  margin-top: 20px;

  .referral-date{
    margin-top: 5px;
  }
}

#chart {
  height: 400px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.highcharts-container {
 overflow: visible !important;
 margin-top: 60px !important;
}

#student-info {
  border-bottom: 1px solid $dark-line;
  margin-bottom: 15px;
  padding-bottom: 10px;

    @media screen and (max-width: $phase2) {
      height: 80px;
    }

  h1 {
    font-weight: 400;
    display: inline;
  }

  p {
    float: right;
    padding-top: 10px;

    @media screen and (max-width: $phase2) {
      padding-right: 20px;
      float: left;
      padding-bottom: 20px;
    }
  }
}

.students {
  .info-area {
    margin-top: 0;
    clear: both;
  }
}

#roster-back {
  display: inline-block;
  padding-top: 20px;
}

.zero-case {
  position: relative;
  top: 80px;
  display: block;
  clear: both;
  margin: 0 auto;
  text-align: center;

  h2 {
    margin-bottom: 20px;
  }
}

.advanced-control {
  display: none;

.highcharts-axis-labels {
  padding-left: 100px;
}
