/* STUDENT PROFILE */

.tab {
  padding: 30px;
  margin-bottom: 30px;
}

#tab-select-area {
  border-bottom: 1px solid $light-line;
  margin: 30px 30px 0 30px;
}

.tab-select {
  display: inline-block;
  padding: 8px 16px;
  margin-left: 12px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
}

.tab-select.selected {
  background-color: $blue;
  color: white;
}

#interventions-tab {
  display: none;  /* Initializes closed */

  .intervention-cell {
    padding: 20px;
    border-top: 1px solid $light-line;
    cursor: pointer;
  }

  .intervention-cell.activated {
    background-color: #DFDFDF;
  }

  #open-intervention-form {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5px 20px 0 20px;
    cursor: pointer;

    #add-intervention-plus-sign {
      color: $light-line;
      font-size: 50px;
      font-weight: bold;
    }

    #add-intervention-text {
      position: relative;
      bottom: 12px;
    }
  }

  #open-intervention-form.selected {
    background-color: $blue;
    h1, #add-intervention-plus-sign {
      color: white;
    }
  }

  #open-intervention-form.solo {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  form {
    padding: 15px 30px;
    h1 {
      border-bottom: 1px solid $light-line;
    }
    label {
      display: block;
      margin-top: 20px;
    }
  }
}

#interventions-tab > div {
  border: 1px solid $light-line;
  border-radius: 8px;
}

#export-button {
  float: right;
  display: inline;
  position: relative;
  padding: 3px 15px;
  margin-top: 18px;
  border-radius: 4px;
  background-color: $white;
  color: $gray;
  border: 1px solid $light-line;
}

#export {
  display: inline;
  clear: both;
}

#risk-pill {
  float: right;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: help;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  text-align: center;
  margin: auto auto;

  h3 {
    color: $white;
  }
}

#demographics {
  h1 {
    border-bottom: 1px solid $light-line;
  }
}

 /* BELOW GRAPH */

.left-panel {
  float: left;
  width: 40%;
  margin-right: 5%;

  @media screen and (max-width: $phase2) {
    width: 100%;
    margin-right: 0;
  }

  .left-panel-item {
    font-size: 14px;
    font-weight: 400;
    color: $gray;
    display: block;
  }

  .left-panel-block {
    margin: 20px 0px;
  }

  h1 {
    font-size: 18px;
    font-weight: 400;
    color: $gray;
  }

  h2 {
    font-size: 16px;
    font-weight: 300;
    color: $gray;
    padding-bottom: 4px;
  }

  .intervention-creator {
    font-weight: 700;
    color: $light-gray;
  }

  .intervention-date {
    color: $light-gray;
    margin-top: 8px;
  }

  .calendar-icon {
    position: relative;
    top: 2px;
    left: 1px;
  }

  .cancel-btn, .save-btn {
    float: right;
    margin-left: 10px;
  }

  .cancel {
    padding-top: 8px;
    padding-right: 20px;
  }

  .intervention-end {
    position: relative;
  }

  .ui-datepicker-trigger {
    position: relative;
    left: 3px;
    top: 6px;
  }
}

.btn {
  margin: auto;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: $white;
  font-size: 14px;
  background: $blue;
  padding: 8px 25px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;

  &:hover {
    background-color: darken($blue, 10%);
    text-decoration: none;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

.right-panel {
  width: 55%;
  float: right;

  @media screen and (max-width: $phase2) {
    width: 100%;
  }
}

.school-year {
  border-left: 1px solid $light-line;
  border-right: 1px solid $light-line;
  border-bottom: 1px solid $light-line;
  border-radius: 4px;
  margin-top: 25px;

  .section-header {
    border-bottom: 1px solid $light-line;
    margin-bottom: 15px;
  }

  .assessment-dark-background {
    background-color: $backgroud;
    overflow: auto;
    padding: 8px 20px;
    border-radius: 4px;
    margin-bottom: 20px;
  }
}

.year {
  background: $blue;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  height: 50px;
  padding-top: 14px;

  h1 {
    text-align: left;
     padding-left: 30px;
   }
}

.section {
  padding-top: 30px;
  margin-right:30px;
  margin-left:30px;
  overflow: auto;

  .values {
    display: inline-block;
    float: left;
    padding-right: 20px;
  }

  .dibels-list {
    width: 100%;

    .dibels-selected {
      color: $white;
      background: $gray;
      border-radius: 30px;
      font-weight: 700;
    }

    p {
      text-transform: uppercase;
      font-weight: 300;
      color: $light-gray;
      display: inline-block;
      padding: 10px 15px;
      margin-right: 8px;
    }
  }
}

.section:last-child {
  padding-bottom: 50px;
  border: none;
}

.month {
  background: #EEEEEE;
  border-radius: 4px;
  margin-top: 5px;
  padding: 0 10px 20px 10px;
}

.referral {
  margin-top: 20px;

  .referral-date {
    margin-top: 5px;
  }
}

#chart {
  height: 400px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.topline-info {
  margin-bottom: 15px;

  h1 {
    font-weight: 400;
    display: inline;
  }
  p {
    float: right;
    @media screen and (max-width: $phase2) {
      padding-right: 20px;
      float: left;
      padding-bottom: 20px;
    }
  }
  @media screen and (max-width: $phase2) {
    height: 80px;
  }
}

.students {
  .info-area {
    margin-top: 0;
    clear: both;
  }
  .topline-info {
    background-color: $light-background;
    border-bottom: 1px solid $light-line;
    padding: 30px;
  }
}

#roster-back {
  display: inline-block;
  padding-top: 20px;
}

.zero-case {
  position: relative;
  top: 80px;
  display: block;
  clear: both;
  margin: 0 auto;
  text-align: center;

  h2 {
    margin-bottom: 20px;
  }
}

.highcharts-axis-labels {
  padding-left: 100px;
}

#intervention_comment {
  max-width: 100%;
  min-width: 100%;
  padding: 10px;
}
