/* STUDENT PROFILE */

#export-button {
  float: right;
  display: inline;
  position: relative;
  padding: 3px 15px;
  margin-top: 18px;
  border-radius: 4px;
  background-color: $white;
  color: $gray;
  border: 1px solid $light-line;
}

#export {
  display: inline;
  clear: both;
}

#risk-pill {
  float: right;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: help;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  text-align: center;
  margin: auto auto;

  h3 {
    color: $white;
  }
}

 /* BELOW GRAPH */

.left-bar-box {
  float: left;
  width: 40%;
  margin-right: 5%;

  @media screen and (max-width: $phase2) {
  width: 100%;
  margin-right: 0;
  }

  .left-bar-item{
      font-size: 14px;
      font-weight: 400;
      color: $gray;
      display: block;
  }

  .left-bar-block {
    margin: 20px 0px;
  }

  h1 {
    font-size: 18px;
    font-weight: 400;
    color: $gray;
    border-bottom: 1px solid $light-line;

  }

  h2{
    font-size: 16px;
    font-weight: 300;
    color: $gray;
    padding-bottom: 4px;
  }

  .intervention-creator {
    font-weight: 700;
    color: $light-gray;
  }

  .intervention-date {
    color: $light-gray;
    margin-top: 8px;
  }

  .calendar-icon {
    position: relative;
    top: 2px;
    left: 1px;
  }

  .cancel-btn, .save-btn {
    float: right;
    margin-left: 10px;
  }

  .cancel {
    padding-top: 8px;
    padding-right: 20px;
  }

  .intervention-end {
    position: relative;
  }

  .ui-datepicker-trigger {
    position: relative;
    left: 3px;
    top: 6px;
  }
}

  .btn {
    margin: auto;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: $white;
    font-size: 14px;
    background: $blue;
    padding: 8px 25px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;

    &:hover {
      background-color: darken($blue, 10%);
      text-decoration: none;
    }

    &:active {
      position: relative;
      top: 1px;
    }
  }



#school-year-boxes-row {
  width: 55%;
  float: right;

  @media screen and (max-width: $phase2) {
  width: 100%;
  }
}


.school-year {
  border-left: 1px solid $light-line;
  border-right: 1px solid $light-line;
  border-bottom: 1px solid $light-line;
  border-radius: 4px;
  margin-top: 25px;

  .section-header {
    border-bottom: 1px solid $light-line;
    margin-bottom: 15px;
  }

  .assessment-dark-background {
    background-color: $backgroud;
    overflow: auto;
    padding: 8px 20px;
    border-radius: 4px;
    margin-bottom: 20px;
  }
}

.year {
  background: $blue;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  height: 50px;
  padding-top: 14px;

  h1 {
    text-align: left;
     padding-left: 30px;
   }
}

.section {
  padding-top: 30px;
  margin-right:30px;
  margin-left:30px;
  overflow: auto;

  .values {
    display: inline-block;
    float: left;
    padding-right: 20px;
  }

  .dibels-list {
    width: 100%;

    .dibels-selected {
      color: $white;
      background: $gray;
      border-radius: 30px;
      font-weight: 700;
    }

    p {
      text-transform: uppercase;
      font-weight: 300;
      color: $light-gray;
      display: inline-block;
      padding: 10px 15px;
      margin-right: 8px;
    }
  }
}

.section:last-child {
  padding-bottom: 50px;
  border: none;
}

.month{
  background: #EEEEEE;
  border-radius: 4px;
  margin-top: 5px;
  padding: 0 10px 20px 10px;
}

.referral {
  margin-top: 20px;

  .referral-date{
    margin-top: 5px;
  }
}

#chart {
  height: 400px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.highcharts-container {
 overflow: visible !important;
 margin-top: 60px !important;
}

#student-info {
  border-bottom: 1px solid $dark-line;
  margin-bottom: 15px;
  padding-bottom: 10px;

    @media screen and (max-width: $phase2) {
      height: 80px;
    }

  h1 {
    font-weight: 400;
    display: inline;
  }

  p {
    float: right;
    padding-top: 10px;

    @media screen and (max-width: $phase2) {
      padding-right: 20px;
      float: left;
      padding-bottom: 20px;
    }
  }
}

.students {
  .info-area {
    margin-top: 0;
    clear: both;
  }
}

#roster-back {
  display: inline-block;
  padding-top: 20px;
}

.zero-case {
  position: relative;
  top: 80px;
  display: block;
  clear: both;
  margin: 0 auto;
  text-align: center;

  h2 {
    margin-bottom: 20px;
  }
}

.highcharts-axis-labels {
  padding-left: 100px;
}

#intervention_comment {
  max-width: 100%;
  min-width: 100%;
  padding: 10px;
}
