/* TODO: Move to components. */

.StudentProfilePage {
  font-size: 14px;

  .note-text {
    border: 1px solid transparent;
  }

  .note-text:hover {
  	border-color: #e5e5e5;
  }

  .address-book-icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-bottom: -3%;
    background: url(asset-path("address-book-icon-small.png")) no-repeat;
  }
}
