/* TODO: Move to components. */

.StudentProfilePage {
  font-size: 14px;

  .address-book-icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-bottom: -3%;
    background: url(asset-path("address-book-icon-small.png")) no-repeat;
  }
}
