#notes-tab {

  #student-notes-list {
    padding: 0 30px 50px 30px;
    max-height: 500px;
    overflow-y: scroll;
  }

  /* Force OS X to show scrollbar (when there are enough
    notes that #student-notes-list overflows past 500px) */

  ::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  ::-webkit-scrollbar:vertical {
    width: 11px;
  }

  ::-webkit-scrollbar:horizontal {
    height: 11px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
  }

  ::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
  }

  .student-note {
    margin-bottom: 20px;

    .student-note-date {
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

  .student-note-content {
    white-space: pre-wrap;
  }

  .btn {
    float: left;
    margin: 20px 10px 20px 0;
  }

}
