 /* STUDENT PROFILE */

#export-button {
  float: right;
  display: inline;
  position: relative;
  padding: 3px 15px;
  margin-top: 18px;
  border-radius: 4px;
  background-color: $white;
  color: $gray;
  border: 1px solid $light-line;
}

#export {
  display: inline;
  clear: both;
}

#risk-pill {
  float: right;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: help;

  h3 {
    color: $white;
  }
}

#risk-pill.low {
    background-color: $low;
}

#risk-pill.medium {
    background-color: $medium;
}

#risk-pill.high {
    background-color: $high;
}

#risk-level {
  float: right;

  p {
    float: left !important;
    padding-top: 5px !important;
    padding-right: 5px;
  }
}

.row {
  float: left;
  height: 100%;
  margin-top: 60px;
}

#demographics-row {
  width: 40%;
}

#school-year-boxes-row {
  width: 60%;
}

.demographics-block {
  margin: 20px 0px;
}

.demographics-item {
  display: block;
}

.school-year {
  text-align: center;
}

.year {
  background: $blue;
  border-radius: 4px;
  height: 50px;
  padding-top: 14px;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $light-line;

  .values {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.section:last-child {
  padding-bottom: 50px;
  border: none;
}

.month{
  background: #EEEEEE;
  border-radius: 4px;
  margin-top: 5px;
  padding: 0 10px 20px 10px;
}

.referral {
  margin-top: 20px;

  .referral-date{
    margin-top: 5px;
  }
}

#chart {
  height: 400px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.highcharts-container {
 overflow: visible !important;
 margin-top: 60px !important;
}

#student-info {
  border-bottom: 1px solid $dark-line;
  margin-bottom: 15px;
  padding-bottom: 10px;

    @media screen and (max-width: $phase2) {
      height: 80px;
    }

  h1 {
    font-weight: 400;
    display: inline;
  }

  p {
    float: right;
    padding-top: 10px;

    @media screen and (max-width: $phase2) {
      padding-right: 20px;
      float: left;
      padding-bottom: 20px;
    }
  }
}

.students {
  .info-area {
    margin-top: 0;
    clear: both;
  }
}

#roster-back {
  display: inline-block;
  padding-top: 20px;
}

.zero-case {
  position: relative;
  top: 80px;
  display: block;
  clear: both;
  margin: 0 auto;
  text-align: center;
  h2 {
    margin-bottom: 20px;
  }
}
