#notes-tab {

  #student-notes-list {
    padding: 0 30px 50px 30px;
  }

  .student-note {
    margin-bottom: 20px;

    .student-note-date {
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

  .btn {
    float: left;
    margin: 20px 10px 20px 0;
  }

}
