/* OVERALL STYLES */

* {
  font-family: 'Open Sans', sans-serif !important;
  margin: 0px;
}

table {
  width: 100%;
  margin: auto auto;
}

body { 
  background-color: #efefef;
}

p {
  font-weight: normal;
  font-size: 14px;
  color: #555;
}

h3 {
  font-size: 14px;
  color: #555;
  font-weight: bold;
}

.smalltype {
  font-weight: 300;
  font-size: 13px;
  color: #999;
}

/* NAV AND DROPDOWN */

#controls {
  padding-left: 30px;
  width: 80%;
  margin: 10px auto 70px auto;
}

.navwrap {
  width: 80%;
  margin: 10px auto;
}



#homeroom-dropdown {
  position: relative;
  right: 30px;
}

/* SIGN IN FLOW & MESSAGES*/

.field {
  margin: 20px 0;
}

.notice {
  color: green;
  font-weight: bold;
}

.alert {
  color: red;
  font-weight: bold;
}

/* ABOUT PAGE */

.about-text {
  font-size: 16px;
  margin: 16px 0;
}

/* TABLE */

.column-groups {
  text-align: center;
}

.column-groups td p {
  height: 25px;
  border-bottom: 1px solid #ddd;
  padding: 0;
  margin-bottom: -10px;
}

.column-groups td {
  padding-left: 0;
  padding-right: 20px;
}

.column-groups td:last-of-type {
  padding-right: 0;
}


.column-names td {
  border-bottom: 1px solid #C6C6C6;
  vertical-align: bottom;
  padding-left: 10px;
}

.risk-groups td {
  height: 50px;
  border-bottom: 1px solid #ddd;
  vertical-align: bottom;
}

tr, td {
  background-color: white;
  margin: 4px !important;
  font-weight: normal;
  font-size: 14px;
  color: #555;
}

.performance-warning-circle {
  background-color: #DA172F;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  position: relative;
  right: 14px;
  top: 14px;
}

.nav {
  border-bottom: 1px solid #C6C6C6;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav #title {
  padding-bottom: 10px;
  padding-top: 10px;
}

h1 {
  font-weight: normal;
  color: #333;
  font-size: 24px;
}

.info-area {
  width: 80%;
  margin: auto auto;
  background-color: white;
  border-radius: 9px;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: solid 1px #DFDFDF;
}

.hidden {
  display: none;
}

#show-more {
  margin: 80px auto 80px;
  width: 100px;
}

a { 
  font-weight: normal;
  font-size: 14px;
  text-decoration: none; 
  cursor: pointer;
}

nav {
    display: block;
    clear: both;
}

nav a:link, a:visited {
    color: #4A90E2; 
    padding-right: 20px;
}

nav a:hover, a:active {
    color: #4a6ae2; 
}

/*room dropdown*/

.dropdown p {
  display: inline-block;
  font-weight: normal;
  color: #999;
  margin-right: 5px;
}

.dropdown {
    position: relative;
    float: left;
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
}

.slider-label {
  color: #999;
  font-size: 12px;
}

#legend {
  font-size: 14px;
  color: #555;
}

* { box-sizing: border-box; }