/* OVERALL STYLES */

* {
  font-family: 'Open Sans', sans-serif !important;
  margin: 0px;
}

table {
  width: 100%;
  margin: auto auto;
}

body { 
  background-color: #efefef;
}

p {
  font-weight: normal;
  font-size: 14px;
  color: #555;
}

h3 {
  font-size: 14px;
  color: #555;
  font-weight: bold;
}

.smalltype {
  font-weight: 300;
  font-size: 13px;
  color: #999;
}

/* NAV AND DROPDOWN */

#controls {
  padding-left: 30px;
  width: 80%;
  margin: 10px auto 70px auto;
}

.navwrap {
  width: 80%;
  margin: auto auto;
}

#homeroom-dropdown {
  position: relative;
  right: 30px;
}

/* SIGN IN FLOW & MESSAGES*/

.field {
  margin: 20px 0;
}

.notice {
  color: green;
  font-weight: bold;
}

.alert {
  color: red;
  font-weight: bold;
}

/* ABOUT PAGE */

.about-text {
  font-size: 16px;
  margin: 16px 0;
}

/* TABLE */

.column-groups {
  text-align: center;
}

.column-groups td p {
  height: 20px;
  border-bottom: 1px solid #ddd;
}

.column-names td {
  height: 50px;
  border-bottom: 1px solid #555;
  vertical-align: bottom;
}

.risk-groups td {
  height: 60px;
  border-bottom: 1px solid #ddd;
  vertical-align: bottom;
}

tr, td {
  background-color: white;
  margin: 4px !important;
  font-weight: normal;
  font-size: 14px;
  color: #555;
}

.performance-warning-circle {
  background-color: red;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  position: relative;
  right: 14px;
  top: 9px;
}

.nav {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav #title {
  padding-bottom: 10px;
  padding-top: 10px;

}

h1 {
  font-weight: normal;
  color: #555;
  font-size: 24px;
}

.info-area {
  width: 80%;
  margin: auto auto;
  background-color: white;
  border-radius: 9px;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: solid 1px #DFDFDF;
}

.hidden {
  display: none;
}

#show-more {
  margin: 80px auto 80px;
  width: 100px;
}

a { 
  color: blue; text-decoration: underline; 
  cursor: pointer;
}

/*room dropdown*/

.dropdown p {
  display: inline-block;
  font-weight: normal;
  color: #999;
  margin-right: 5px;
}

.dropdown select {
      background-color: #efefef;
      border: 0 !important;  /*Removes border*/
      -webkit-appearance: none;  /*Removes default chrome and safari style*/
      -moz-appearance: none; /* Removes Default Firefox style*/
      background-position: 80px 8px;  /*Position of the background-image*/
      width: 80px; /*Width of select dropdown to give space for arrow image*/
      height: 20px;/*fix for mac input height*/
      text-indent: 0.01px; /* Removes default arrow from firefox*/
      text-overflow: "";  /*Removes default arrow from firefox*/
      cursor: pointer;/*My custom style for fonts*/
      color: #333;
      font-size: 14px;
      font-weight: bold;
}

select option {
  text-align: center;
}

.overlay-arrow {
    font-size: 8px;
    color: #333;
    position: absolute;
    right: 35px;
    top : 12px;
    cursor: default;
    line-height: 1px;

}

.dropdown {
    position: relative;
    float: left;
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
}


.slider-label {
  color: #999;
  font-size: 12px;
}

#legend {
  font-size: 14px;
  color: #555;
}

* { box-sizing: border-box; }