/* TABLE */

table {
  overflow-x: scroll;
  display: block;

  @media screen and (min-width: 1185px) {
    display: table;
  }
}

.sort-down, .sort-up {
  font-weight: 700;
  color: $dark-gray;
}

th {
  font-weight: normal;
  text-align: center;
  font-size: 14px;
}

.table-header {

  th & {
    text-align: center;
    position: relative;
    left: 8px;
  }
}

.column-names {

  th {
    width: 10%;
    vertical-align: baseline;
  }

  th:first-child {
    width: 15%;
  }
}

tr, td {
  margin: 4px !important;
  font-weight: normal;
  font-size: 14px;
  color: $gray;
}

.column-groups {
  text-align: center;

  td {
    padding-left: 0;
    padding-right: 20px;
    white-space: nowrap;
  }

  td p {
    height: 25px;
    border-bottom: 1px solid $light-line;
    padding: 0;
    margin-bottom: -10px;
  }

  td:last-of-type {
    padding-right: 0;
  }
}

.column-names td {
  border-bottom: 1px solid $dark-line;
  padding-left: 10px;
}

.risk-groups td {
  height: 65px;
  border-bottom: 1px solid $dark-line;
}

.warning-bubble {
  width: 30px;
  height: 30px;
  color: $white;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  margin: auto auto;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

tbody {

  tr:hover {
     cursor: pointer;
     background-color: $table-row-hover;
     border-radius: 10px;
  }

  td {
    text-align: center;
  }

  .cell-wrapper {
    padding: 10px;
  }

  td:hover {

    .cell-wrapper {
       background-color: $table-cell-hover;
       border-radius: 5px;
    }
  }

  a:link, a:visited {
    color: $gray;
  }

  a:hover, a:active {
    color: $gray;
  }
}

.column-names {

  th{
   border-bottom: 1px solid $dark-line;
  }
}

.name {
  text-align: left;
}
