/* TABLE */

table {
  overflow-x: scroll;
  display: block;
}

.sort-down, .sort-up {
  font-weight: 700;
  color: $dark-gray;
}

th {
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
}

.table-header {

  th & {
    text-align: center;
  }
}

.column-names {

  th {
    vertical-align: baseline;
  }

  th:first-child {
    padding-left: 20px;
  }
}

tr, td {
  margin: 4px !important;
  font-weight: normal;
  font-size: 14px;
  color: $gray;
  white-space: nowrap;
}

.column-groups {
  text-align: center;
  position: relative;

  td p {
    height: 25px;
    border-bottom: 1px solid $light-line;
    padding: 0;
    margin-bottom: -10px;
  }

  td:last-of-type {
    padding-right: 0;
  }
}

.column-names td {
  border-bottom: 1px solid $dark-line;
  padding-left: 10px;
}

.warning-bubble {
  width: 30px;
  height: 30px;
  color: $white;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  margin: auto auto;
}

tbody {

  tr:hover {
    cursor: pointer;
    background-color: $table-row-hover;
    border-radius: 10px;
  }

  td {
    text-align: center;
  }

  .cell-wrapper {
    padding: 10px;
  }

  td:hover {
    .cell-wrapper {
      background-color: $table-cell-hover;
      border-radius: 5px;
    }
  }

  a:link, a:visited {
    color: $gray;
  }

  a:hover, a:active {
    color: $gray;
  }
}

.column-names {
  th {
   border-bottom: 1px solid $dark-line;
  }
}

.name {
  text-align: left;
  background: white;
}

/**
 * Scrolling shadows by @kizmarh and @leaverou
 * Only works in browsers supporting background-attachment: local; & CSS gradients
 * Degrades gracefully
 */

#roster-table {
  overflow: auto;

  background:
    /* Shadow covers */
    linear-gradient(90deg, white 30%, rgba(255,255,255,0)),
    linear-gradient(90deg, rgba(255,255,255,0), white 70%) 100% 0,

    /* Shadows */
    radial-gradient(0 50%, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
    radial-gradient(100% 50%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 100% 0;
  background:
    /* Shadow covers */
    linear-gradient(90deg, white 30%, rgba(255,255,255,0)),
    linear-gradient(90deg, rgba(255,255,255,0), white 70%) 100% 0,

    /* Shadows */
    radial-gradient(farthest-side at 0 50%, rgba(0,0,0,.2), rgba(0,0,0,0)),
    radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)) 100% 0;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;

  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}

#assign-bulk-interventions {
  padding: 4px 16px;
  margin: 10px;
  color: white;
  font-size: 14px;
  background-color: #428be5;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  width: 40px;
  cursor: pointer;
}
