/* TABLE */
/* deprecated */
table {
  overflow-x: scroll;
}

.sort-down, .sort-up {
  font-weight: 700;
  color: $dark-gray;
}

th {
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
}

.table-header {

  th & {
    text-align: center;
  }
}

tr, td {
  font-weight: normal;
  font-size: 14px;
  color: $gray;
  white-space: nowrap;
}

.column-groups {
  text-align: center;

  td p {
    height: 25px;
    border-bottom: 1px solid $light-line;
    padding: 0;
    margin-bottom: -10px;
  }

  td:last-of-type {
    padding-right: 0;
    border: none !important;
  }
}

.column-names td {
  border-bottom: 1px solid $dark-line;
  padding-left: 10px;
}


.column-names {
  th {
   border-bottom: 1px solid $dark-line;
  }
}
