#my-tooltip {
  float: right;
  margin-top: 15px;
  cursor: help;
  padding-top: 6px;
  text-align: center;
  position: relative;

  p {
    color: $gray;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    border-bottom:1px dotted $dark-gray;
  }
}

#my-tooltip:hover {

  p{
    border-bottom:1px solid $gray;
  }
}

.warning-dot {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background-color: $warning-bubble;
  float: left;
  margin-right: 5px;
  margin-top: 4px;
}

.warning-header {
  border-bottom: 1px solid $dark-line;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.warning-key {

  p {
    font-weight: 300;
  }

  strong {
    font-weight: 400;
  }
}

.warning-set {
  padding-right: 20px;
}
