 /* TOOLTIPS */

/* These styles based on tooltipster.scss */
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  text-align: left;
  border-radius: 3px;
  white-space: pre-line;
  background: #fff;
  box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
  color: #2c2c2c;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;
  line-height: 20px;
  padding: 20px;
  overflow: visible;

  /* Position of the tooltip */
  position: absolute;
  z-index: 999999;
  top: 25px;
  left: 50%;
  margin-left: -120px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

