 /* TOOLTIPS */

#roster-tooltip {
  float: right;
  margin-top: 15px;
  padding-top: 6px;
  text-align: center;
  position: relative;

  #roster-help-icon {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: $dark-line;
    padding-top: 4px;
    padding-bottom: 6px;
    text-align: center;
    position: relative;
    bottom: 4px;
    margin-left: 5px;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    float: left;
  }
}

#profile-risk-level {
  float: right;

  p {
    padding-top: 5px !important;
    margin-right: 5px;
    text-decoration: none;
  }

  @media screen and (max-width: $phase2) {
    float: left;
    padding-top: 5px;
  }
}

.tooltip-trigger {
  cursor: help;

  p {
    float: left !important;
    color: $gray;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px dotted $dark-gray;
  }

  &:hover {
    p {
      border-bottom: 1px solid $gray;
    }
  }
}

.tooltip-popup {

  .warning-dot {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: $warning-red;
    float: left;
    margin-right: 5px;
    margin-top: 4px;
  }

  .warning-header {
    border-bottom: 1px solid $dark-line;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  p {
    font-weight: 300;
  }

  strong {
    font-weight: 400;
  }

  .warning-set {
    padding-right: 20px;
  }
}
