 /* TOOLTIPS */


/*#profile-risk-level {
  float: right;

  p {
    padding-top: 5px !important;
    margin-right: 5px;
    text-decoration: none;
  }

  @media screen and (max-width: $phase2) {
    float: left;
    padding-top: 5px;
  }
}*/

/* TODO: Move to folder for /homerooms (roster page). */
.tooltip-trigger {
  cursor: help;

  p {
    float: left !important;
    color: $gray;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px dotted $dark-gray;
  }

  &:hover {
    p {
      border-bottom: 1px solid $gray;
    }
  }
}

/* TODO: Move to folder for /homerooms (roster page). */
.tooltip-popup {
  .warning-dot {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: $warning-red;
    float: left;
    margin-right: 5px;
    margin-top: 4px;
  }

  .warning-header {
    border-bottom: 1px solid $dark-line;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  p {
    font-weight: 300;
  }

  strong {
    font-weight: 400;
  }

  .warning-set {
    padding-right: 20px;
  }
}

/* TODO: Move to folder for /homerooms (roster page). */
.student-risk-level-tooltip {
  max-width: 240px;
}

/* These styles based on tooltipster.scss */
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  text-align: left;
  border-radius: 3px;
  white-space: pre-line;
  background: #fff;
  box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
  color: #2c2c2c;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;
  line-height: 20px;
  padding: 20px;
  overflow: visible;

  /* Position of the tooltip */
  position: absolute;
  z-index: 999999;
  top: 25px;
  left: 50%;
  margin-left: -120px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

