/* TYPE STYLES */

p {
  font-size: 14px;
  font-weight: 400;
  color: $gray;
}

strong {
  font-size: 14px;
  font-weight: 700;
  color: $gray;
}

h1 {
  font-size: 24px;
  font-weight: 300;
  color: $dark-gray;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  color: $gray;
}

h3 {
  font-size: 14px;
  font-weight: 700;
  color: $gray;
}

h4 {
  font-size: 24px;
  font-weight: 300;
  color: $blue;
}

h5 {
  font-size: 14px;
  font-weight: 700;
  color: $gray;
  text-transform: uppercase;
}

a { 
  font-size: 14px;
  font-weight: 400;
  text-decoration: none; 
  cursor: pointer;
}

a:link, a:visited {
  color: $link; 
}     

a:hover, a:active {
  color: $link-hover; 
}

.smalltype {
  font-size: 13px;
  font-weight: 300;
  color: $light-gray;
}

.risktype {
  font-size: 14px;
  font-weight: 700;
  color: $gray;
}

.italic {
  font-style: italic;
}