/* TYPE STYLES */

p, label {
  font-size: 14px;
  font-weight: 400;
  color: $gray;
}

strong {
  font-size: 14px;
  font-weight: 700;
  color: $gray;
}

h1 {
  font-size: 24px;
  font-weight: 300;
  color: $dark-gray;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  color: $gray;
}

h3 {
  font-size: 14px;
  font-weight: 700;
  color: $gray;
}

h6 {
  font-size: 14px;
  font-weight: 700;
  color: $dark-gray;
}

a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

a:link, a:visited {
  color: $link;
}

a:hover, a:active {
  color: $link-hover;
}

.smalltype {
  font-size: 13px;
  font-weight: 300;
  color: $light-gray;
}

.bigtype {
  font-size: 16px;
}

.risktype {
  font-size: 14px;
  font-weight: 700;
  color: $gray;
}

.italic {
  font-style: italic;
}

.warning-text {
  font-weight: 700;
  color: $warning-red;
}
