/* VARIABLES */
/* These are global styles included on every page. Be careful because changes here will affect everything. */

/* FONT COLORS */
$dark-gray: #333;
$gray: #555;
$light-gray: #999;
$blue: #4A90E2;
$link: #3177c9;
$link-hover: #155094;
$warning-red: #E5370E;
$warning-green: #4F8A10;


/* BORDERS */
$light-line: #ccc;
$dark-line: #bbb;


/* ELEMENTS */
$backgroud: #E5E5E5;
$light-background: #EEEEEE;
$white: #fff;
$blue: #4A90E2;
$warning-bubble: #4A90E2;
$table-row-hover: #E5E5E5;
$table-cell-hover: #ccc;


/* MEDIA SCREEN */
$phase1: 700px;
$phase2: 500px;


/* RISK LEVELS */
$risk-0: #BBD86B;
$risk-1: #62C186;
$risk-2: #FFCB08;
$risk-3: #F15A3D;


/* THEME COLORS */
$math: hsl(237,80%,95%); // rgba(0, 14, 255, 0.06);
$ela: hsl(24, 100%, 92%); //rgba(255, 99, 0, 0.06);
$attendance: hsl(120,80%,95%); //rgba(0, 255, 1, 0.06);
