/* VARIABLES */

/* FONT COLORS */

$dark-gray: #333;
$gray: #555;
$light-gray: #999;

$blue: #4A90E2;

$link: #4A90E2;
$link-hover: #4A6AE2;

$warning-red: #B33A3A;
$warning-green: #4F8A10;

/* BORDERS */

$light-line: #ddd;
$dark-line: #ccc;

/* ELEMENTS */

$warning-circle: #DA172F;
$backgroud: #f8f8f8;
$white: #fff;
$blue: #4A90E2;
$warning-bubble: #D0273C;

/* MEDIA SCREEN */

$max: 700px;
