/* VARIABLES */

/* FONT COLORS */

$dark-gray: #333;
$gray: #555;
$light-gray: #999;

$blue: #4A90E2;

$link: #3177c9;
$link-hover: #155094;

$warning-red: #CC0D0D;
$warning-green: #4F8A10;

/* BORDERS */

$light-line: #ccc;
$dark-line: #bbb;

/* ELEMENTS */

$backgroud: #E5E5E5;
$white: #fff;
$blue: #4A90E2;
$warning-bubble: #4A90E2;
$table-hover: #E5E5E5;

/* MEDIA SCREEN */

$phase1: 700px;
$phase2: 500px;

/* RISK LEVELS */

$low: #3B8203;
$medium: #EA9411;
$high: #B10F23;

