/* VARIABLES */

/* FONT COLORS */

$dark-gray: #333;
$gray: #555;
$light-gray: #999;

$blue: #4A90E2;

$link: #4A90E2;
$link-hover: #4A6AE2;

$warning-red: #B33A3A;
$warning-green: #4F8A10;

/* BORDERS */

$light-line: #ddd;
$dark-line: #ccc;

/* ELEMENTS */

$backgroud: #f8f8f8;
$white: #fff;
$blue: #4A90E2;
$warning-bubble: #B90504;
$table-hover: #F4F4F4;

/* MEDIA SCREEN */

$phase1: 700px;
$phase2: 500px;
