/*
VARIABLES

These are global styles included on every page.
Be careful because changes here will affect everything.
*/

/* grays */
$dark-gray: #333;
$gray: #555;
$light-gray: #999;
$light-line: #ccc;
$dark-line: #bbb;
$white: #fff;

/* blues */
$blue: #4A90E2;
$blue-link: #3177c9;
$blue-link-hover: #155094;

/* shout colors */
$warning-red: #E5370E;
