<% @import_records.each do |record| %>
  <% if record.completed? %>
    <div>Completed in <%= distance_of_time_in_words(record.time_to_complete) %>.</div>
  <% else %>
    <div>Process did not complete.</div>
  <% end %>
<% end %>
