<% if @import_records.size == 0 %>
  <div style="margin: 10px">No import records.</div>
<% end %>
<% @import_records.each do |record| %>
  <div style="border: 1px solid #eee; padding: 15px; margin: 15px;">
    <div style="margin-bottom: 15px; border-bottom: 1px solid #eee; font-size: 18px;">
      <%= record.created_at.strftime("%m/%d/%Y") %>
    </div>
    <% if record.completed? %>
      <div>
        Completed in <%= distance_of_time_in_words(record.time_to_complete) %>.
      </div>
    <% else %>
      <div>
        Process did not complete.
      </div>
    <% end %>
  </div>
<% end %>
