@import '../app/assets/stylesheets/variables';

/* TYPE STYLES */
/* These are global styles included on every page. Be careful because changes here will affect everything. */
* {
  font-family: 'Open Sans', sans-serif !important;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 1024px;
}

label {
  display: block;
  margin-bottom: 4px;
  color: $gray
}

textarea {
  width: 96%;
  margin: auto auto;
  padding: 10px;
}

p, label {
  font-size: 14px;
  font-weight: 400;
  color: $gray;
}

strong {
  font-size: 14px;
  font-weight: 700;
  color: $gray;
}

h1 {
  font-size: 24px;
  font-weight: 300;
  color: $dark-gray;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  color: $gray;
}

h3 {
  font-size: 14px;
  font-weight: 700;
  color: $gray;
}

h4 {
  font-size: 24px;
  font-weight: 300;
  color: $blue;
}

h5 {
  font-size: 14px;
  font-weight: 700;
  color: $gray;
  text-transform: uppercase;
}

h6 {
  font-size: 14px;
  font-weight: 700;
  color: $dark-gray;
}

a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

a:link, a:visited {
  color: $link;
}

a:hover, a:active {
  color: $link-hover;
}


table {
  overflow-x: scroll;
}

th {
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
}

tr, td {
  font-weight: normal;
  font-size: 14px;
  color: $gray;
  white-space: nowrap;
}
