<!DOCTYPE html>
<html>
<head>
  <title>Homeroom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="nav">
    <div class="navwrap">
      <h1 id="title">Home Room</h1>
    </div>
<!--     <div id="bar">
      <a href="#">Summary</a> |
      <a href="#">Print PDF</a>
    </div>
 -->  </div>
  <%= yield %>
  <script src="https://code.jquery.com/jquery-git2.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
</body>